* {
    margin: 0;
    padding: 0;
}

ul.main_menu_appearance {
    list-style: none;
    background: #3F4137;
    width: 100%;
    padding: 0;
    font-size: 25px;
    overflow: hidden;
}
ul.main_menu_appearance li {
    float: left;
    margin: 10px;
}

.general_title {
    font-size: 24px;
    color: #111;
    margin-top: 16px;
    margin-left: 20px;
}

.main_pages_text {
    font-size: 18px;
    color: #111;
    margin: 20px;
}

.tutorial {
    padding: 10px 8px;
    border-radius: 10px;
}

a {
    color: #F8F8FF;
    background: #3F4137;
    text-decoration: none;
}

a:hover {
    color: #8FBC8F;
    text-decoration: underline;
}

.flash {
    padding: 10px;
}

.flash.success {
    border: 1px solid #21DB56;
    background: #98fb98;
}

.flash.error{
    boarder: 1px solid #21DB56;
    background: #fa8072;
}

.entrance_title {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.underline {
    width: 100%;
}

div.register_content {
    margin-left: 2%;
    margin-top: 1%;
}

.entrance_cabinet {
    font-size: 16px;
}

input.name_email_register {
    border: 3px solid #3F4137;
    border-radius: 2px;
    font-size: 25px; width: 250px;
    margin-top: 5px;
    margin-bottom: 10px;
}

input.password_register {
    border: 3px solid #3F4137;
    border-radius: 2px;
    font-size: 25px; width: 50px;
    margin-top: 5px;
    margin-bottom: 7px;
}

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 12px;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2E8B57;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

input.register {
    display: inline-block;
    padding: 12px 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #2E8B57;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-top: 1%;
    margin-left: 3%;
    margin-bottom: 10px;
    font-size: 15px;
}

input.register:hover {
    background-color: #00FF7F
}

input.register:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.suggestion_to_create {
    margin-top: 10px;
    margin-bottom: 20px;
}

a.link_to_main {
    font-size: 15px;
    padding: 10px 8px;
    border-radius: 10px;
    margin-left: 3%;
    margin-bottom: 30px;
}

.general_cabinet {
    font-size: 25px;
    margin-top: 1%;
}

.cabinet_workflow_suggestions_links {
    background-color: white;
    color: black;
    border-radius: 7px;
    border: 10px solid #3F4137;
    padding: 20px;
    width: 220px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 5px;
}

.cabinet_workflow_suggestions_links:hover {
  background-color: #D3D3D3;
  text-decoration: none;
  color: black;
}

.exit {
    font-size: 20px;
    padding: 15px;
    border-radius: 5px;
}

.popup_appearance {
    font-family: sans-serif;
    width: 230px;
    background: #800000;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #FFFFFF;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.popup_appearance h1 {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 8px;
}

.open-popup_appearance {
    visibility: visible;
    top: 70%;
    transform: translate(-50%, -50%) scale(1);
}

a.danger {
    display: inline-block;
    padding: 8px 12px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #CD5C5C;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #696969;
    margin-top: 15px;
}

a.danger:hover {
    background-color: #FF0000
}

a.danger:active {
    background-color: #FF0000;
    box-shadow: 0 5px #FF4500;
    transform: translateY(4px);
}

a.cancel {
    display: inline-block;
    padding: 8px 12px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #2E8B57;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
    margin-top: 15px;
}

a.cancel:hover {
    background-color: #00FF7F
}

a.cancel:active {
    background-color: #00FF7F;
    box-shadow: 0 5px #00FFFF;
    transform: translateY(4px);
}

.passport_title {
    font-size: 12px;
    margin: 1px;
}

th {
    background: #8FBC8F;
}

.passport_identity {
    font-size: 12px;
    width: 99%;
    margin: 1px;
}

.passport_identity input {
    font-size: 12px;
    width: 95%;
    border: 1px solid #3F4137;
    margin: 1px;
}

.passport_identity textarea {
    font-size: 12px;
    width: 140px;
    border: 1px solid #3F4137;
    margin: 1px;
}

.passport_ministry {
    font-size: 10px;
}

.passport_institution_department {
    font-size: 12px;
}

.passport_institution_department input {
    font-size: 12px;
    width: 90%;
    border: 1px solid #3F4137;
    margin: 1px;
    margin-bottom: 3px;
}

.passport_typological {
    font-size: 9px;
    width: 99%;
    margin: 1px;
}

.passport_definition {
    font-size: 8px;
    width: 85px;
    border: 1px solid #3F4137;
    margin: 1px;
}

.radio_button {
    accent-color: #8FBC8F;
}

.passport_object_owner {
    font-size: 12px;
    width: 98%;
    border: 1px solid #3F4137;
    margin: 1px;
    margin-bottom: 3px;
}

.attribution {
    font-size: 12px;
    width: 99%;
    margin: 1px;
}

.attribution input {
    font-size: 12px;
    width: 175px;
    border: 1px solid #3F4137;
    margin: 1px;
}

button.material {
    display: inline-block;
    padding: 7px 9px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #2E8B57;
    border: none;
    border-radius: 15px;
    box-shadow: 0 3px #999;
    margin: 1px;
}

button.material:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

button.material:focus {
    background-color:#00FF7F;
}

.attribution_after_material input {
    font-size: 12px;
    width: 95%;
    border: 1px solid #3F4137;
    margin: 1px;
}

.passport_reason {
    font-size: 12px;
    width: 99%;
    height: 45px;
    border: 1px solid #3F4137;
    margin: 1px;
}

.dates_restorers {
    font-size: 12px;
    width: 99%;
    margin: 1px;
}

.dates_restorers {
    font-size: 12px;
    width: 99%;
}

.dates {
    font-size: 12px;
    width: 98%;
    border: 1px solid #3F4137;
    margin-top: 1px;
}

.restorers {
    font-size: 12px;
    width: 132px;
    border: 1px solid #3F4137;
    margin-top: 15px;
}

.passport_origin_description {
    font-size: 12px;
    width: 99%;
    height: 100px;
    border: 1px solid #3F4137;
    margin: 1px;
}

.passport_appearance_description {
    font-size: 12px;
    width: 99%;
    height: 560px;
    border: 1px solid #3F4137;
    margin: 1px;
}

.passport_damages_description {
    font-size: 12px;
    width: 99%;
    height: 535px;
    border: 1px solid #3F4137;
    margin: 1px;
}

.passport_signs_description {
    font-size: 12px;
    width: 99%;
    height: 100px;
    border: 1px solid #3F4137;
    margin: 1px;
}

.passport_size_description {
    font-size: 12px;
    width: 99%;
    height: 100px;
    border: 1px solid #3F4137;
    margin: 1px;
}

.researches {
    font-size: 12px;
    width: 99%;
    margin: 1px;
}

.researches textarea {
    font-size: 12px;
    width: 98%;
    height: 250px;
    border: 1px solid #3F4137;
    margin: 1px;
}

.passport_results_researches {
    font-size: 12px;
    width: 99%;
    height: 100px;
    border: 1px solid #3F4137;
    margin: 1px;
}

.passport_restoration_program {
    font-size: 12px;
    width: 99%;
    margin: 1px;
}

.passport_restoration_program textarea {
    font-size: 12px;
    width: 98%;
    height: 120px;
    border: 1px solid #3F4137;
    margin: 1px;
}

.treatments {
    font-size: 12px;
    width: 99%;
    margin: 1px;
}

.treatments textarea {
    font-size: 12px;
    width: 98%;
    height: 250px;
    border: 1px solid #3F4137;
    margin: 1px;
}

.passport_treatments_results {
    font-size: 12px;
    width: 99%;
    height: 100px;
    border: 1px solid #3F4137;
    margin: 1px;
}

button.upload_passport {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #2E8B57;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-bottom: 5%;
}

button.upload_passport:hover {
    background-color: #00FF7F
}

button.upload_passport:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

@media only screen and (min-width: 712px) {
    ul.main_menu_appearance {
    font-size: 40px;
    }
    ul.main_menu_appearance li {
    margin: 15px;
    }
    .flash {
    font-size: 20px;
    }
    .general_title {
    font-size: 30px;
    }
    .main_pages_text {
    font-size: 24px;
    margin: 20px;
    }
    .entrance_title {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    }
    div.register_content {
    margin-left: 15%;
    }
    .entrance_cabinet {
    font-size: 35px;
    }
    .footer_warning {
    margin-top: 150px;
    }
    input.name_email_register {
    font-size: 40px; width: 400px;
    }
    input.password_register {
    font-size: 40px; width: 70px;
    }
    .container {
    font-size: 25px;
    margin-bottom: 60px;
    }
    input.register {
    font-size: 35px;
    }
    a.link_to_main {
    font-size: 35px;
    }
    .popup_appearance {
    width: 500px;
    border-radius: 10px;
    padding: 0 30px 40px;
    }
    .popup_appearance h1 {
    font-size: 40px;
    margin-top: 20px;
    }
    .popup_appearance h3 {
    margin-top: 15px;
    font-size: 30px;
    }
    a.danger {
    padding: 20px 30px;
    font-size: 35px;
    box-shadow: 0 8px #696969;
    margin: 10px;
    margin-top: 30px;
    }
    a.cancel {
    padding: 20px 30px;
    font-size: 35px;
    box-shadow: 0 8px #999;
    margin: 10px;
    margin-top: 30px;
    }
    .passport_title {
    font-size: 22px;
    }
    .passport_identity {
    font-size: 22px;
    }
    .passport_identity input {
    font-size: 22px;
    }
    .passport_identity textarea {
    font-size: 22px;
    width: 260px;
    }
    .passport_ministry {
    font-size: 20px;
    }
    .passport_institution_department {
    font-size: 22px;
    }
    .passport_institution_department input {
    font-size: 22px;
    width: 90%;
    }
    .passport_typological {
    font-size: 14px;
    }
    .passport_definition {
    font-size: 16px;
    width: 175px;
    }
    .passport_object_owner {
    font-size: 22px;
    }
    .attribution {
    font-size: 22px;
    }
    .attribution input {
    font-size: 22px;
    width: 290px;
    }
    button.material {
    padding: 10px 15px;
    font-size: 22px;
    margin: 5px;
    }
    .passport_reason {
    font-size: 22px;
    height: 100px;
    }
    .dates_restorers {
    font-size: 22px;
    }
    .dates_restorers {
    font-size: 22px;
    }
    .dates {
    font-size: 22px;
    }
    .restorers {
    font-size: 22px;
    width: 245px;
    margin-top: 26px;
    }
    .passport_origin_description {
    font-size: 22px;
    height: 200px;
    }
    .passport_appearance_description {
    font-size: 22px;
    height: 1020px;
    }
    .passport_damages_description {
    font-size: 22px;
    height: 1000px;
    }
    .passport_signs_description {
    font-size: 22px;
    height: 200px;
    }
    .passport_size_description {
    font-size: 22px;
    height: 200px;
    }
    .researches {
    font-size: 22px;
    }
    .researches textarea {
    font-size: 22px;
    height: 500px;
    }
    .passport_results_researches {
    font-size: 22px;
    height: 200px;
    }
    .passport_restoration_program {
    font-size: 22px;
    }
    .passport_restoration_program textarea {
    font-size: 22px;
    height: 240px;
    }
    .treatments {
    font-size: 22px;
    }
    .treatments textarea {
    font-size: 22px;
    height: 500px;
    }
    .passport_treatments_results {
    font-size: 22px;
    height: 200px;
    }
}

@media only screen and (min-width: 1000px) {
    .general_title {
    font-size: 40px;
    }
    .main_pages_text {
    font-size: 30px;
    margin: 25px;
    }
    .tutorial {
    padding: 15px 12px;
    border-radius: 10px;
    }
    .entrance_title {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    }
    div.register_content {
    margin-left: 35%;
    }
    .entrance_cabinet {
    font-size: 18px;
    }
    input.name_email_register {
    border: 4px solid #3F4137;
    border-radius: 3px;
    font-size: 25px; width: 250px;
    margin-bottom: 10px;
    }
    input.password_register {
    border: 4px solid #3F4137;
    border-radius: 3px;
    font-size: 25px; width: 50px;
    margin-bottom: 5px;
    }
    .container {
    font-size: 20px;
    }
    input.register {
    padding: 10px 20px;
    margin-top: 30px;
    font-size: 20px;
    }
    a.link_to_main {
    font-size: 20px;
    padding: 10px 5px;
    margin-left: 3%;
    margin-bottom: 30px;
    }
    .popup_appearance {
    width: 350px;
    border-radius: 10px;
    padding: 0 30px 40px;
    }
    .popup_appearance h1 {
    font-size: 25px;
    margin-top: 10px;
    }
    .popup_appearance h3 {
    margin-top: 5px;
    font-size: 20px;
    }
    a.danger {
    padding: 10px 15px;
    font-size: 25px;
    margin: 5px;
    margin-top: 20px;
    }
    a.cancel {
    padding: 10px 15px;
    font-size: 25px;
    margin: 5px;
    margin-top: 20px;
    }
    .passport_title {
    font-size: 18px;
    width: 800px;
    margin: 5px;
    }
    .passport_identity {
    font-size: 18px;
    width: 800px;
    margin: 5px;
    }
    .passport_identity input {
    font-size: 18px;
    width: 95%;
    margin: 5px;
    }
    .passport_identity textarea {
    font-size: 18px;
    width: 220px;
    margin: 5px;
    }
    .passport_ministry {
    font-size: 18px;
    }
    .passport_institution_department {
    font-size: 18px;
    margin: 5px;
    }
    .passport_institution_department input {
    font-size: 18px;
    width: 800px;
    margin: 5px;
    }
    .passport_typological {
    font-size: 18px;
    width: 850px;
    margin: 5px;
    }
    .passport_definition {
    font-size: 18px;
    width: 200px;
    margin: 5px;
    }
    .passport_object_owner {
    font-size: 18px;
    width: 800px;
    margin: 5px;
    }
    .attribution {
    font-size: 18px;
    width: 800px;
    margin: 5px;
    }
    .attribution input {
    font-size: 18px;
    margin: 5px;
    }
    button.material {
    padding: 8px 10px;
    font-size: 18px;
    }
    .attribution_after_material input {
    font-size: 18px;
    margin: 5px;
    }
    .passport_reason {
    font-size: 18px;
    height: 100px;
    margin: 5px;
    }
    .dates_restorers {
    font-size: 18px;
    width: 99%;
    margin: 5px;
    }
    .dates_restorers {
    font-size: 18px;
    width: 800px;
    }
    .dates {
    font-size: 18px;
    margin-top: 5px;
    }
    .restorers {
    font-size: 18px;
    width: 200px;
    margin-top: 25px;
    }
    .passport_origin_description {
    font-size: 18px;
    width: 950px;
    height: 200px;
    margin: 5px;
    }
    .passport_appearance_description {
    font-size: 18px;
    width: 950px;
    height: 600px;
    margin: 5px;
    }
    .passport_damages_description {
    font-size: 18px;
    width: 950px;
    height: 600px;
    margin: 5px;
    }
    .passport_signs_description {
    font-size: 18px;
    width: 950px;
    height: 200px;
    margin: 5px;
    }
    .passport_size_description {
    font-size: 18px;
    width: 950px;
    height: 200px;
    margin: 5px;
    }
    .researches {
    font-size: 18px;
    margin: 5px;
    }
    .researches textarea {
    font-size: 18px;
    height: 400px;
    margin: 5px;
    }
    .passport_results_researches {
    font-size: 18px;
    width: 950px;
    height: 100px;
    margin: 5px;
    }
    .passport_restoration_program {
    font-size: 18px;
    width: 99%;
    margin: 5px;
    }
    .passport_restoration_program textarea {
    font-size: 18px;
    height: 250px;
    margin: 5px;
    }
    .treatments {
    font-size: 18px;
    width: 950px;
    }
    .treatments textarea {
    font-size: 18px;
    }
    .passport_treatments_results {
    font-size: 18px;
    width: 950px;
    height: 150px;
    }
}

@media only screen and (min-height: 1366px) {
    ul.main_menu_appearance {
    font-size: 62px;
    }
    ul.main_menu_appearance li {
    margin: 20px;
    }
    .flash {
    font-size: 30px;
    }
    .entrance_title {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    }
    div.register_content {
    margin-left: 20%;
    }
    div.register_content {
    margin-top: 50px;
    }
    .entrance_cabinet {
    font-size: 38px;
    }
    input.name_email_register {
    border: 9px solid #3F4137;
    border-radius: 5px;
    font-size: 55px; width: 500px;
    margin-top: 15px;
    margin-bottom: 40px;
    }
    input.password_register {
    border: 9px solid #3F4137;
    border-radius: 5px;
    font-size: 55px; width: 100px;
    margin-top: 15px;
    margin-bottom: 30px;
    }
    .container {
    font-size: 38px;
    padding-left: 55px;
    }
    .checkmark {
    height: 35px;
    width: 35px;
    }
    .container .checkmark:after {
    left: 11px;
    top: 2px;
    width: 10px;
    height: 20px;
    }
    input.register {
    padding: 20px 30px;
    margin-bottom: 150px;
    font-size: 40px;
    }
    p.suggestion_to_create {
    margin-bottom: 30px;
    }
    a.link_to_main {
    font-size: 40px;
    padding: 18px 20px;
    }
    .general_cabinet {
    font-size: 40px;
    }
    .cabinet_workflow_suggestions_links {
    padding: 35px;
    width: 350px;
    margin: 10px;
    }
    .exit {
    font-size: 40px;
    padding: 20px;
    border-radius: 8px;
    }
    .popup_appearance {
    width: 500px;
    border-radius: 10px;
    padding: 0 30px 40px;
    }
    .popup_appearance h1 {
    font-size: 40px;
    margin-top: 20px;
    }
    .popup_appearance h3 {
    margin-top: 15px;
    font-size: 30px;
    }
    .open-popup_appearance {
    visibility: visible;
    top: 65%;
    transform: translate(-50%, -50%) scale(1);
    }
    a.danger {
    padding: 20px 30px;
    font-size: 35px;
    margin: 10px;
    margin-top: 30px;
    }
    a.cancel {
    padding: 20px 30px;
    font-size: 35px;
    margin: 10px;
    margin-top: 30px;
    }
}

@media only screen and (min-width: 5120px) {
    ul.main_menu_appearance {
    font-size: 200px;
    }
    ul.main_menu_appearance li {
    margin: 50px;
    }
    .flash {
    font-size: 100px;
    }
    .general_title {
    font-size: 130px;
    margin-top: 70px;
    margin-left: 70px;
    }
    .main_pages_text {
    font-size: 80px;
    margin: 50px;
    }
    .tutorial {
    padding: 30px 20px;
    border-radius: 17px;
    }
    .entrance_title {
    font-size: 130px;
    margin-top: 25px;
    margin-bottom: 25px;
    }
    div.register_content {
    margin-left: 30%;
    margin-top: 100px;
    }
    .entrance_cabinet {
    font-size: 100px;
    }
    input.name_email_register {
    border: 15px solid #3F4137;
    border-radius: 5px;
    font-size: 120px; width: 1300px;
    margin-top: 40px;
    margin-bottom: 10px;
    }
    input.password_register {
    border: 15px solid #3F4137;
    border-radius: 5px;
    font-size: 120px; width: 210px;
    margin-top: 40px;
    margin-bottom: 50px;
    }
    .container {
    font-size: 100px;
    padding-left: 120px;
    }
    .checkmark {
    height: 80px;
    width: 80px;
    }
    .container .checkmark:after {
    left: 20px;
    width: 30px;
    height: 50px;
    border-width: 0 10px 10px 0;
    }
    input.register {
    padding: 30px 50px;
    border-radius: 30px;
    margin-top: 200px;
    margin-bottom: 120px;
    font-size: 110px;
    }
    p.suggestion_to_create {
    margin-bottom: 60px;
    }
    a.link_to_main {
    font-size: 110px;
    padding: 30px 40px;
    border-radius: 30px;
    }
    .general_cabinet {
    font-size: 100px;
    }
    .cabinet_workflow_suggestions_links {
    padding: 50px;
    width: 900px;
    border-radius: 15px;
    border: 25px solid #3F4137;
    margin: 20px;
    }
    .exit {
    font-size: 100px;
    padding: 50px;
    border-radius: 20px;
    }
    .popup_appearance {
    width: 1200px;
    border-radius: 30px;
    padding: 0 100px 120px;
    }
    .popup_appearance h1 {
    font-size: 110px;
    margin-top: 40px;
    }
    .popup_appearance h3 {
    margin-top: 40px;
    font-size: 70px;
    }
    .open-popup_appearance {
    visibility: visible;
    top: 65%;
    transform: translate(-50%, -50%) scale(1);
    }
    a.danger {
    padding: 40px 60px;
    font-size: 100px;
    border-radius: 30px;
    box-shadow: 0 25px #696969;
    margin: 30px;
    margin-top: 110px;
    }
    a.cancel {
    padding: 40px 60px;
    font-size: 100px;
    border-radius: 30px;
    box-shadow: 0 25px #999;
    margin: 30px;
    margin-top: 110px;
    }
    .open-popup_appearance {
    top: 70%;
    }
    .passport_title {
    font-size: 50px;
    width: 1500px;
    margin: 20px;
    }
    .passport_identity {
    font-size: 50px;
    width: 1800px;
    margin: 20px;
    }
    .passport_identity input {
    font-size: 50px;
    margin: 20px;
    }
    .passport_identity textarea {
    font-size: 50px;
    width: 600px;
    margin: 20px;
    }
    .passport_ministry {
    font-size: 50px;
    }
    .passport_institution_department {
    font-size: 50px;
    margin: 20px;
    }
    .passport_institution_department input {
    font-size: 50px;
    width: 1300px;
    margin: 20px;
    }
    .passport_typological {
    font-size: 50px;
    width: 2100px;
    margin: 20px;
    }
    .passport_definition {
    font-size: 50px;
    width: 550px;
    margin: 20px;
    }
    .radio_button {
    width: 50px;
    height: 50px;
    }
    .passport_object_owner {
    font-size: 50px;
    width: 1500px;
    margin: 20px;
    margin-bottom: 10px;
    }
    .attribution {
    width: 2100px;
    font-size: 50px;
    margin: 20px;
    }
    .attribution input {
    font-size: 50px;
    width: 800px;
    margin: 20px;
    }
    button.material {
    padding: 30px 50px;
    font-size: 50px;
    box-shadow: 0 15px #999;
    margin: 20px;
    }
    .attribution_after_material input {
    font-size: 50px;
    margin: 20px;
    }
    .passport_reason {
    font-size: 50px;
    width: 2100px;
    height: 300px;
    margin: 20px;
    }
    .dates_restorers {
    font-size: 50px;
    width: 2100px;
    margin: 20px;
    }
    .dates {
    font-size: 50px;
    width: 98%;
    margin-top: 20px;
    }
    .restorers {
    font-size: 50px;
    width: 800px;
    margin-top: 80px;
    }
    .passport_origin_description {
    font-size: 50px;
    width: 2100px;
    height: 300px;
    margin: 20px;
    }
    .passport_appearance_description {
    font-size: 50px;
    width: 2100px;
    height: 1000px;
    margin: 20px;
    }
    .passport_damages_description {
    font-size: 50px;
    width: 2100px;
    height: 1000px;
    margin: 20px;
    }
    .passport_signs_description {
    font-size: 50px;
    width: 2100px;
    height: 300px;
    margin: 20px;
    }
    .passport_size_description {
    font-size: 50px;
    width: 2100px;
    height: 300px;
    margin: 20px;
    }
    .researches {
    font-size: 50px;
    margin: 20px;
    }
    .researches textarea {
    font-size: 50px;
    height: 800px;
    margin: 20px;
    }
    .passport_results_researches {
    font-size: 50px;
    width: 2100px;
    height: 300px;
    margin: 20px;
    }
    .passport_restoration_program {
    font-size: 50px;
    width: 2100px;
    margin: 20px;
    }
    .passport_restoration_program textarea {
    font-size: 50px;
    height: 600px;
    margin: 20px;
    }
    .treatments {
    font-size: 50px;
    width: 2100px;
    height: 1200px;
    }
    .treatments textarea {
    font-size: 50px;
    height: 1050px;
    }
    .passport_treatments_results {
    font-size: 50px;
    width: 2100px;
    height: 300px;
    }
    button.upload_passport {
    padding: 30px 40px;
    font-size: 50px;
    border-radius: 15px;
    margin-top: 25px;
    box-shadow: 0 15px #999;
    margin-bottom: 25px;
    }
}
