html, body {
    font-family: Georgia, serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.serif {
    font-family: Times New Roman
}

a {
    color: #F8F8FF;
    background: #3F4137;
    text-decoration: none;
}
a:hover {
    color: #8FBC8F;
    text-decoration: underline;
}

a.show_post_suggestion {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #3F4137;
    background-color: #FFFFFF;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

a.show_post_suggestion:hover {
    background-color: #00FFFF
}

a.update_post_suggestion {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #006400;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

a.update_post_suggestion:hover {
    background-color: #00FF00
}

a.delete_post_suggestion {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #800000;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

a.delete_post_suggestion:hover {
    background-color: #FF0000
}

a.download_passport {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #2E8B57;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

a.download_passport:hover {
    background-color: #00FF7F
}


li.suggestions_links {
    background: #A9A9A9;
}

button.upload_passport {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #2E8B57;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

button.upload_passport:hover {
    background-color: #00FF7F
}

button.upload:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.clear {clear: both;}

ul.main_menu_appearance {
    list-style: none;
    background: #3F4137;
    height: 70px;
    margin: 0;
    padding: 20;
    color: #fdc073;
    font-size: 20px;
    overflow: hidden;
}
ul.main_menu_appearance li {
    float: left;
    margin: 22px 35px 0 20px;
}

div.content {
    margin: 30px;
}

.flash {padding: 10px;}
.flash.success {
    border: 1px solid #21DB56;
    background: #98fb98;
}
.flash.error{
    boarder: 1px solid #21DB56;
    background: #fa8072;
}

ul.list_passports_appearance {
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 600px;
}

ul.list_passports_appearance li {
    margin: 20px 0 0 0;
    color: #FFFFFF;
    font-size: 20px;
    border-radius: 7px;
    border: 10px solid #3F4137;
}
ul.list_passports_appearance .object_name_inventory_number_appearance {
    margin: 0;
    padding: 5px;
    background: #3F4137;
}
ul.list_passports_appearance .acceptance_number_appearance {
    margin: 0;
    padding: 10px 5px 10px 5px
}
TABLE {
    width: 850px;
    border-collapse: collapse;
}
TD, TH {
    padding: 3px;
    border: 1px solid black;
}
TH {
    background: #8FBC8F;
}
.hide{
  display:none;
}
.show{
  display:block;
}
.purposes_researches_table_space{
width: 120px;
}
.methods_researches_table_space{
width: 190px;
}
.executor_date_researches_table_space{
width: 118px;
}

.treatment_base_space{
width: 1080px;
}

.treatments_descriptions_table_space{
width: 500px;
}
.treatments_chemicals_table_space{
width: 290px;
}
.treatments_executor_date_table_space{
width: 270px;
}