<!DOCTYPE html>
<html lang="ua">
<head>
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
    <link type="text/css" href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet"/>
    <meta charset="UTF-8">
    <title>Назва сайту - {{web_page_title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
{% block content -%}
    {%- block main_menu -%}
<ul class="main_menu_appearance">


    {% for main_choice in main_menu -%}
    <li><a href="{{main_choice.url}}">{{main_choice.menu_element}}</a></li>
    {% endfor -%}


</ul>
    {% endblock main_menu -%}

<div>
    <h2 class="general_title">Надіслати електронний лист:</h2>
        <p class="main_pages_text">sosdaon@gmail.com</p>
    <h2 class="general_title">Інструкція з користування:</h2></div>
        <p class="main_pages_text"><a href="https://youtube.com/playlist?list=PLA96blugpiDKDB059eAVTnG6p4-4xeepR" target="_blank" class="tutorial">Відеоуроки</a></p>
{% endblock %}
