<!DOCTYPE html>
<html lang="ua">
<head>
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
    <link type="text/css" href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>Назва сайту - {{web_page_title}}</title>
</head>
<body>
{% block content -%}
    {%- block main_menu -%}
<ul class="main_menu_appearance">


    {% for main_choice in main_menu -%}
    <li><a href="{{main_choice.url}}">{{main_choice.menu_element}}</a></li>
    {% endfor -%}


</ul>
    {% endblock main_menu -%}

<div class="content">
<p><b>Ви можете надіслати лист на електронну пошту:</b>
<p>sosdaon@gmail.com
<h2>Інструкція з користування:</h2>
<p><a href="https://youtube.com/playlist?list=PLA96blugpiDKDB059eAVTnG6p4-4xeepR" target="_blank" class="tutorial">Відеоуроки</a>
</div>
<div align="center"><p><h6>Використовувати застосунок виключно з освітньою метою.</h6></div>
{% endblock %}
