{% extends 'base.html' %}

{% block content %}
{{ super() }}
{% for ctg, msg in get_flashed_messages(True) %}
<div class="flash {{ctg}}">{{msg}}</div>
{% endfor %}
  <style>
   #iron_lab_researches_description {
    width: 1250px; /* Ширина поля в пикселах */
   }
   #copper_lab_researches_description {
    width: 1250px; /* Ширина поля в пикселах */
   }
   #silver_lab_research_description {
    width: 1250px; /* Ширина поля в пикселах */
   }
   #iron_lab_researches {
    width: 1250px; /* Ширина поля в пикселах */
   }
   #copper_lab_researches {
    width: 1250px; /* Ширина поля в пикселах */
   }
   #silver_lab_researches {
    width: 1250px; /* Ширина поля в пикселах */
   }
  </style>
<form action="{{url_for('addPost')}}" method="post" class="form-contact">
    <p><label>Назва статті: </label> <input type="text" name="name" value="" required />
    <p><label>Текст статті:</label>
    <p><textarea name="post" rows="7" cols=40></textarea>
    <p><input type="submit" value="Додати" />
</form>

<div align="center">
    <p>
    <table>
    <tr>
    <th>№ реставраційного паспорта:</th><th>інвентарний № пам'ятки</th><th>Акт приймання</th>
   </tr>
    <tr>
    <td><input type="text" placeholder="№ паспорта"></td><td><input type="text" placeholder="інвентарний №"></td>
        <td><textarea type="text" placeholder="№
від: число/місяць/рік"></textarea></td>
    </tr>
    </table>
    </p>

    <p></p><h3>Освітня інтернет-платформа "Рест.Інфо"</h3></p>
    <p></p><h3>ЗРАЗОК БЛАНКА ПАСПОРТА РЕСТАВРАЦІЇ ПАМ'ЯТКИ ІСТОРІЇ ТА КУЛЬТУРИ(РУХОМОЇ)</h3></p>
<p><b>Назва закладу, який здійснює реставрацію</b></p>
<p><textarea type="text" rows="1" cols="92" name="object_owner" placeholder="Назва установи/музею/учбового закладу"></textarea></p>
<p><b>Назва відділу/сектору</b></p>
<p><textarea type="text" rows="2" cols="92" name="object_owner" placeholder="Відділ/сектор/майстерня"></textarea></p>

<p>
<b>1. Типологічна приналежність пам'ятки</b>
<table>
    <tr>
    <th>Визначення, характер пам'ятки:</th><th>пам'ятка образотворчого мистецтва</th><th>пам'ятка декоративно-ужиткового мистецтва</th>
        <th>археологічна пам'ятка</th><th>документальна пам'ятка</th><th>інша пам'ятка історії та культури</th>
   </tr>
    <tr>
    <td><input type="text" placeholder="Цільова приналежність"></td><td><button>1</button></td><td><button>2</button>
    </td><td><button>3</button></td><td><button>4</button></td><td><button>5</button></td>
   </tr>
</table>
</p>

<p><b>2. Місце постійного зберігання, власник пам'ятки</b></p>
<p><textarea type="text" rows="3" cols="92" name="object_owner" placeholder="Назва установи/ім'я та прізвище хранителя/приватна колекція">
</textarea>
</p>

<p>
<table>
   <tr>
    <th>3. Атрибутивні дані про пам'ятку згідно з актом приймання</th><th>Уточнення в процесі реставрації</th>
   </tr>
   <tr>
    <td>Автор:<input type="text" placeholder="Ім'я автора/культура/школа"></td><td><input type="text" placeholder="Ім'я автора/культура/школа"></td>
   </tr>
   <tr>
    <td>Назва:<input type="text" placeholder="Введіть назву предмета"></td><td><input type="text" placeholder="Введіть назву предмета"></td>
   </tr>
   <tr>
       <td>Час створення:<input type="text" placeholder="Рік/століття/проміжок часу"></td><td><input type="text" placeholder="Рік/століття/проміжок часу"></td>
   </tr>
    <tr>
       <td>Матеріал, основа:<input type="text" placeholder="Перелік назв матеріалів"></td><td><input type="text" placeholder="Перелік назв матеріалів"></td>
   </tr>
    <tr>
       <td>Техніка виконання:<input type="text" placeholder="Введіть назву техніки"></td><td><input type="text" placeholder="Введіть назву техніки"></td>
   </tr>
    <tr>
       <td>Розміри:<input type="text" placeholder="Довжина/висота/ширина"></td><td><input type="text" placeholder="Довжина/висота/ширина"></td>
   </tr>
    <tr>
       <td>Вага:<input type="text" placeholder="Кілограм/грам"></td><td><input type="text" placeholder="Кілограм/грам"></td>
   </tr>
</table>
</p>

    <p><b>4. Підстава для проведення реставраційних заходів</b></p>
    <p><textarea type="text" rows="3" cols="92" placeholder="Вкажіть підставу проведення реставрації"></textarea>
    </p>

    <p>
<table>
   <tr>
    <th>Дати</th><th>Реставратори</th>
   </tr>
   <tr>
    <td>Дата передання пам'ятки на реставрацію:<input type="text" placeholder="число/місяць/рік"></td><td><input type="text" placeholder="Студент (курс)"></td>
   </tr>
    <tr>
    <td>Дата завершення реставраційних заходів:<input type="text" placeholder="число/місяць/рік"></td><td><input type="text" placeholder="Керівник (Кваліфікація)"></td>
   </tr>
</table>
    </p>

    <p><b>5. Основні дані з історії пам'ятки (довідка про побутування; відомості про умови зберігання,</b></p>
        <p><b>попередні дослідження, консерваційно-реставраційні заходи тощо), джерело надходження інформації</b></p>
    <p><textarea type="text" rows="6" cols="92" placeholder="Вкажіть дані з історії пам'ятки"></textarea>
    </p>

    <p><b>6. Стан пам'ятки до реставрації</b></p>
    <p><i>6.1 За візуальним спостереженням:</i></p>
    <p><textarea type="text" rows="10" cols="92" placeholder="Вкажіть опис пам'ятки"></textarea></p>
    <p><i>6.1.2 Втрати та пошкодження:</i></p>
    <p><textarea type="text" rows="10" cols="92" placeholder="Вкажіть втрати та пошкодження"></textarea></p>
    <p><i>6.1.3 Старі номери та позначення:</i></p>
    <p><textarea type="text" rows="6" cols="92" placeholder="Вкажіть номери та позначення"></textarea></p>
    <p><i>6.1.4 Розміри:</i></p>
    <p><textarea type="text" rows="6" cols="92" placeholder="Вкажіть розміри"></textarea></p>


<b>1. Типологічна приналежність пам'ятки</b>
<TABLE>
<tr>
<th>Мета дослідження</th>
</tr>


<tr>
<td>
<label for="iron_lab_researches">Залізо</label>
<input type="text" name="chosen_iron_lab_researches" id="iron_lab_researches" list="iron_lab_researches_list">
<datalist id="iron_lab_researches_list">
    <option>Визначення заліза фізичним методом</option>
    <option>Визначення продуктів корозії заліза методом світлової мікроскопії</option>
</datalist>
</td>

<tr>
<th>Методи і результати дослідження</th>
</tr>

<td>
<label for="iron_lab_researches_description">Обрати опис проведеня дослідження заліза</label>
<input type="text" name="chosen_iron_lab_researches_description" id="iron_lab_researches_description" list="iron_lab_researches_list_description">
<datalist id="iron_lab_researches_list_description">
    <option>Для визначення заліза використовувався магніт.
Висновок:
Усі деталі предмета мають магнітні властивості та виготовлені з заліза</option>
    <option>Під мікроскопом МБС-10 були виявлені продукти корозії заліза,
колір яких характерний для :
-оксидів заліза
-гідроксидів заліза
Висновок:
сплав на основі заліза</option>
</datalist>
</td>
</tr>

<tr>
<th>Мета дослідження</th>
</tr>

<tr>
<td>
<label for="copper_lab_researches">Мідь</label>
<input type="text" name="chosen_copper_lab_researches" id="copper_lab_researches" list="copper_lab_researches_list">
<datalist id="copper_lab_researches_list">
    <option>Визначення металу мідного кольору</option>
    <option>Визначення продуктів корозії міді методом світлової мікроскопії</option>
</datalist>
</td>
</tr>

<tr>
<th>Методи і результати дослідження</th>
</tr>

<tr>
<td>
<label for="copper_lab_researches_description">Обрати опис проведеня дослідження міді</label>
<input type="text" name="chosen_copper_lab_researches_description" id="copper_lab_researches_description" list="copper_lab_researches_description_list">
<datalist id="copper_lab_researches_description_list">
    <option>Нанесену краплю розчину азотної кислоти з водою 1:1 промокнули фільтрувальним папером. Папір після вміщення в пари аміаку забарвився у темно-блакитний колір.
Висновок:
сплав на основі міді.</option>
    <option>Під мікроскопом МБС-10 були виявлені продукти корозії міді,
колір яких характерний для:
-вуглекислих солей міді.
Висновок:
сплав  на основі міді.</option>
</datalist>
</td>
</tr>

<tr>
<th>Мета дослідження</th>
</tr>

<tr>
<td>
<label for="silver_lab_researches">Срібло</label>
<input type="text" name="chosen_silver_lab_researches" id="silver_lab_researches" list="silver_lab_researches_list">
<datalist id="silver_lab_researches_list">
    <option>Визначення металу на вміст срібла</option>
    <option>Визначення продуктів корозії міді методом світлової мікроскопії</option>
    <option>Визначення якості металу</option>
</datalist>
</td>
</tr>

<tr>
<th>Методи і результати дослідження</th>
</tr>

<tr>
<td>
<label for="silver_lab_research_description">Обрати опис проведеня дослідження срібла</label>
<input type="text" name="chosen_silver_lab_research_description" id="silver_lab_research_description" list="silver_lab_research_description_list">
<datalist id="silver_lab_research_description_list">
    <option>На очищену поверхню було нанесено краплю "червоної пробірної кислоти",
через кілька секунд пляма забарвилась у колір червоного біхромату срібла.
Висновок:
сплав на основі срібла.</option>
    <option>Під мікроскопом МБС-10 були виявлені продукти корозії міді,
колір яких характерний для :
-хлорної міді
-сульфідів срібла
Висновок:
сплав має вміст міді.</option>
    <option>Апробація проводилась пробірним наглядом.
Висновок:
експонат відповідає пробі срібла 875.</option>
</datalist>

</td>
</tr>

<tr>
<td>Виконавець та дата:<input type="text" placeholder="прізвище/число/місяць/рік"></td>
</tr>

</TABLE>
</div>


{% endblock %}