<!DOCTYPE html>
<html lang="ua">
<head>

    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
    <link type="text/css" href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
    <script type="text/javascript" src="{{url_for('static', filename='javascripts/formsForDifferentMaterials.mjs')}}">
    import {wooden} from 'javascripts/formsForDifferentMaterials.mjs')'</script>
    <meta charset="UTF-8">
    <title>Рест.Інфо - {{web_page_title}}</title>
</head>
<body>
{% block content -%}
    {%- block mainmenu -%}
<ul class="mainmenu">
    {% for m in menu -%}
    <li><a href="{{m.url}}">{{m.title}}</a></li>
        {% endfor -%}
</ul>
    {% endblock mainmenu -%}


{% for ctg, msg in get_flashed_messages(True) %}
<div class="flash {{ctg}}">{{msg}}</div>
{% endfor %}

<form enctype="multipart/form-data" action="{{url_for('addPost')}}" method="post">
<div align="center">
    <p>
    <table>
    <tr>
    <th>№ реставраційного паспорта:</th><th>інвентарний № пам'ятки</th><th>Акт приймання</th>
   </tr>
    <tr>
    <td><input name="passport_number" type="text" placeholder="№ паспорта"></td><td><input type="text" name="name" placeholder="інвентарний №" required></td>
        <td><textarea type="text" name="post" required placeholder="№
від: число/місяць/рік"></textarea></td>
    </tr>
    </table>
    </p>

    <p></p><h3>Освітня інтернет-платформа "Рест.Інфо"</h3></p>
    <p></p><h3>ЗРАЗОК БЛАНКА ПАСПОРТА РЕСТАВРАЦІЇ ПАМ'ЯТКИ ІСТОРІЇ ТА КУЛЬТУРИ(РУХОМОЇ)</h3></p>
<p><b>Назва закладу, який здійснює реставрацію</b></p>
<p><textarea type="text" name="institution_name" rows="1" cols="92" placeholder="Назва установи/музею/учбового закладу"></textarea></p>
<p><b>Назва відділу/сектору</b></p>
<p><textarea type="text" name="department_name" rows="2" cols="92" placeholder="Відділ/сектор/майстерня"></textarea></p>

<p>
<b>1. Типологічна приналежність пам'ятки</b>
<table>
    <tr>
    <th>Визначення, характер пам'ятки:</th><th>пам'ятка образотворчого мистецтва</th><th>пам'ятка декоративно-ужиткового мистецтва</th>
        <th>археологічна пам'ятка</th><th>документальна пам'ятка</th><th>інша пам'ятка історії та культури</th>
   </tr>
    <tr>
    <td><input type="text" name="definition" placeholder="Цільова приналежність"></td>
        <td><input type="radio" name="typological" value="(1)" required>1</input></td>
        <td><input type="radio" name="typological" value="(2)" required>2</input></td>
        <td><input type="radio" name="typological" value="(3)" required>3</input></td>
        <td><input type="radio" name="typological" value="(4)" required>4</input></td>
        <td><input type="radio" name="typological" value="(5)" required>5</input></td>
   </tr>
</table>
</p>

<p><b>2. Місце постійного зберігання, власник пам'ятки</b></p>
<p><textarea type="text" name="object_owner" rows="3" cols="92" placeholder="Назва установи/ім'я та прізвище хранителя/приватна колекція"></textarea>
</p>

<p>
<table>
   <tr>
    <th>3. Атрибутивні дані про пам'ятку згідно з актом приймання</th><th>Уточнення в процесі реставрації</th>
   </tr>
   <tr>
    <td>Автор:<input type="text" name="author" placeholder="Ім'я автора/культура/школа"></td><td><input type="text" name="clarified_author" placeholder="Ім'я автора/культура/школа"></td>
   </tr>
   <tr>
    <td>Назва:<input type="text" name="object_title" placeholder="Введіть назву предмета"></td><td><input type="text" name="clarified_object_title" placeholder="Введіть назву предмета"></td>
   </tr>
   <tr>
       <td>Час створення:<input type="text" name="time_of_creation" placeholder="Рік/століття/проміжок часу"></td><td><input type="text" name="clarified_time_of_creation" placeholder="Рік/століття/проміжок часу"></td>
   </tr>
    <tr>
       <td>Матеріал, основа:<button type="button" onclick="server.addCeramics(); server.hideMetalResearches();"> Глина </button>
       <button type="button" onclick="server.addWood(); server.hideMetalResearches();"> Деревина </button>
       <button type="button" onclick="server.addMetal(); server.showMetalResearches()"> Метал </button><input type="text" name="material" placeholder="Вкажіть матеріал"></td><td><input type="text" name="clarified_material" placeholder="Перелік назв матеріалів"></td>
   </tr>
    <tr>
       <td>Техніка виконання:<input type="text" name="technique" placeholder="Введіть назву техніки"></td><td><input type="text" name="clarified_technique" placeholder="Введіть назву техніки"></td>
   </tr>
    <tr>
       <td>Розміри:<input type="text" name="object_size" placeholder="Довжина/висота/ширина"></td><td><input type="text" name="clarified_size" placeholder="Довжина/висота/ширина"></td>
   </tr>
    <tr>
       <td>Вага:<input type="text" name="weight" placeholder="Кілограм/грам"></td><td><input type="text" name="clarified_weight" placeholder="Кілограм/грам"></td>
   </tr>
</table>
</p>

    <p><b>4. Підстава для проведення реставраційних заходів</b></p>
    <p><textarea type="text" name="reason" contenteditable="true" rows="5" cols="140" placeholder="Вкажіть підставу проведення реставрації">
Пам'ятка вкрита нестійкими пиловими/пило-брудовими нашаруваннями/кородована/має сколи/тріщини/вибоїни/втрати,
уражена грибами/бактеріями/комахами/продуктами їх життєдіяльності.
    </textarea>
    </p>


    <p>
<table>
   <tr>
    <th>Дати</th><th>Реставратори</th>
   </tr>
   <tr>
    <td>Дата передання пам'ятки на реставрацію:<input name="object_input_date" type="text" placeholder="число/місяць/рік"></td>
       <td><input name="execute_restorer" placeholder="Студент (курс)" type="text" ></td>
   </tr>
    <tr>
    <td>Дата завершення реставраційних заходів:<input type="text" name="object_output_date" placeholder="число/місяць/рік"></td>
        <td><input type="text" name="responsible_restorer" placeholder="Керівник (Кваліфікація)"></td>
   </tr>
</table>
    </p>


    <p><b>5. Основні дані з історії пам'ятки (довідка про побутування; відомості про умови зберігання,</b></p>
        <p><b>попередні дослідження, консерваційно-реставраційні заходи тощо), джерело надходження інформації</b></p>
    <p><textarea type="text" name="origin_description" contenteditable="true" rows="6" cols="140" placeholder="Вкажіть дані з історії пам'ятки">
Пам'ятка походить з (вказати регіон) та перебувала у фондах (введіть назву установи або власність колекції).</textarea>
    </p>

    <p><b>6. Стан пам'ятки до реставрації</b></p>
    <p><i>6.1 За візуальним спостереженням:</i></p>
    <p><textarea type="text" name="appearance_description" id="changed_appearance_description" contenteditable="true" rows="30" cols="140" placeholder="Вкажіть опис пам'ятки">
(ЗРАЗОК)
За візуальним спостереженням: ...
I. Візуальне дослідження (опис пам’ятки):
    1.Вказати назву (якщо є спеціальний термін).
    2.Описати форму та колір.
    3.Вказати спосіб виготовлення (кування, лиття, прокат, карбування, гравіювання, інкрустація, штампування, тиснення, скань, зернь).
    4.Описати орнамент (заглиблений, рельєфний).
    5.Описати розпис (монохромний, поліхромний, колір фарб).
    6.Вказати систему розпису, стиль (геометричний, рослинний, зооморфний, антропоморфний і т.д.).
    7.Вказати місце розпису (назва елемента, по всій поверхні або орнаментальний пояс і т.д.).
II. Описати вигляд предмета:
    1. Структура, фактура предмета (має блиск, неоднорідна, однорідна, крихка, пухка, розшарована);
    2. Вказати колір металу.
III. Забруднення:
    1.Нестійкі (пилові, брудові, ґрунтові) .
    2.Стійкі (вапнякові, природні та синтетичні смоли, висоли, гіпсові забруднення, плями кислів металів, сліди кіптяви,
        пеку, жиру, плями від пластиліну, масляної фарби, воску, клейові забруднення, чорнила, туш,
        записи фарбами (якого кольору), забруднення фарбами  від попередніх тонувань – місцезнаходження фарби,
        забруднення на зламах фрагментів (від клею, вапнякових нашарувань, пило брудові, ґрунтові і т.д.).
    3.Визначити за візуальним спостереженням яким клеєм склеєно фрагменти (клеєм БФ (світло-коричневого, коричневого, червоного кольору, прозорий),
        ПВА (полівінилацетатний клей молочного кольору, непрозорий, безбарвний, прозорий)
Визначити форму забруднення (у вигляді локальних плям, неправильної форми, повсюдно, забруднення якоїсь частини пам’ятки).
    </textarea></p>
    <p><i>6.1.2 Втрати та пошкодження:</i></p>
    <p><textarea type="text" name="damages_description" id="changed_damages_description" contenteditable="true" rows="30" cols="140" placeholder="Вкажіть втрати та пошкодження">
(ЗРАЗОК)
ІV. Попередня реставрація:
    1. Якщо була – описати якість попередньої реставрації).
    2. Свідчення про попередню реставрацію (відсутні, якщо є вказати джерело чи з чиїх слів записано).
    3. Реставрація не повна якщо:
        -  фрагменти склеєні, а втрати не восповнені;
        -восповнені частково;
        -є втрати у будь-якій частині виробу (вказати місце втрати, форму, розмір).
V. Опис наявних втрат та пошкоджень:
    1. Вказати із якої кількості фрагментів складається пам’ятка.
    2. Вказати на якість попереднього склеювання, доповнення.
    3. Вказати які частини пам’ятки відсутні (вказати розмір в см/мм та кв. см/мм).
    4. Вказати пошкодження, відслоюваня, розшарування, деформації.
    5. Визначити дефекти:
        -привнесені від археологічного чи реставраційного інструменту, помітки олівцем і т.д.;
        -виробничі;
        -тріщини (наскрізні, не наскрізні, волосяні (вказати форму, розмір, розташування);
        -сколи, вибоїни, незначні втрати, каверни, пробоїни, викришування, потертості, подряпини (вказати форму, розмір, розташування);
        -визначити дефекти тонувань (якщо є розпис, консерваційного покриття – описати колір, стан збереження,
        наявні значні або незначні, часткові, локальні втрати, потертості відшарування (вказати форму, розмір, розташування);
VІ. Біологічні пошкодження і руйнування:
    6.Бактерії, гриби та продукти їх життєдіяльності.</textarea></p>
    <p><i>6.1.3 Старі номери та позначення:</i></p>
    <p><textarea type="text" name="signs_description" contenteditable="true" rows="6" cols="140" placeholder="Вкажіть номери та позначення">
1. Вказати де, яким чорнилом, які номери написано (написи та шифри необхідно фотофіксувати).
 Марки (описати місцезнаходження, зовнішній вигляд марки або етикетки, колір і розмір, чим написано і чим приклеєний шифр).</textarea></p>
    <p><i>6.1.4 Розміри:</i></p>
    <p><textarea type="text" name="size_description" contenteditable="true" rows="10" cols="92" placeholder="Вкажіть розміри">
Довжина: см/мм;
Висота: см/мм;
Ширина: см/мм;
Товщина: см/мм.
    </textarea></p>


<TABLE>
<tr>
<th>Оберіть матеріал для заповнення орієнтовних зразків описів проведення лабораторних досліджень,
    реставраційної програми та реставраційних заходів:</th>
</tr>

<tr>
<td>
<button type="button" id="choose_iron_cunduct" onclick="server.fillInIronForm();">Залізо</button>
<button type="button" id="choose_cuprum_cunduct" onclick="server.fillInCuprumForm();">Мідь</button>
<button type="button" id="choose_silver_cunduct" onclick="server.fillInSilverForm();">Срібло</button>
</td>
</tr>
</TABLE>

<p><b>6.2. За даними лабораторних досліджень:</b></p>

<p>
<table>
<tr>
<th>Мета дослідження</th><th>Методи і результати дослідження</th><th>Виконавець та дата</th>
</tr>
<tr>
<td><textarea type="text" name="purposes_researches" id="purposes_of_conduction" contenteditable="true" rows="30" cols="22">
(ЗРАЗОК)Визначення заліза фізичним методом
</textarea></td><td><textarea type="text" name="methods_researches" id="methods_conduction" contenteditable="true" rows="30" cols="35">
(ЗРАЗОК)Для визначення заліза використовувався магніт.
Висновок:
Усі деталі предмета мають магнітні властивості та виготовлені з заліза.
</textarea></td>
<td><textarea type="text" name="executor_date_researches" rows="30" cols="20" placeholder="Ім'я та прізвище виконавця;
число/місяць/рік.">
</textarea></td>
</tr>
</table>
</p>


<p><b>6.3 Загальний висновок за результатами досліджень:</b></p>
<p><textarea type="text" name="results_researches" contenteditable="true" rows="5" cols="140" placeholder="Вкажіть підставу проведення реставрації">
Пам'ятка вкрита нестійкими пиловими/пило-брудовими нашаруваннями/кородована/має сколи/тріщини/вибоїни/втрати,
уражена грибами/бактеріями/комахами/продуктами їх життєдіяльності. Предмет потребує надання експозиційного вигляду.
</textarea>
</p>


<TABLE>

<tr>
<th>7. Програма проведення реставраційних заходів та їх обгрунтування</th>
</tr>
<tr>
<td><textarea type="text" name="restoration_program" id="restoration_program_by_material" contenteditable="true" rows="20" cols="91">
(ЗРАЗОК)
1.Видалити поверхневі забруднення
2.Видалити стійкі забруднення
3.Видалити продукти корозії
4.Виготовити втрачений елемент
5.Провести стабілізацію продуктів корозії
6.Провести консервацію
</textarea></td>

</TABLE>


<p>
<b>9. Проведення реставраційних заходів:</b>
<table>
<tr>
<th>Опис операцій із зазначенням методу, методики, технології, інструментарію</th>
    <th>Матеріали, хімікати (консентрація %)</th><th>Виконавець та дата</th>
</tr>
<tr>
<td><textarea type="text" name="treatments_descriptions" id="treatments_descriptions_by_material" contenteditable="true" rows="29" cols="60">
(ЗРАЗОК)
Видалення поверхневих забруднень:
Проводили тампонами змоченими в нафтовому розчиннику нефрас "Калоша".
</textarea></td><td><textarea type="text" name="treatments_chemicals" id="treatments_chemicals_by_material" contenteditable="true" rows="29" cols="35">
(ЗРАЗОК)
Нефрас "Калоша".
</textarea></td>
<td><textarea type="text" name="treatments_executor_date" rows="29" cols="20" placeholder="Ім'я та прізвище виконавця;
число/місяць/рік.">
</textarea></td>
</tr>
</table>
</p>


<p><b>6.3 Загальний висновок за результатами досліджень:</b></p>
<p><textarea type="text" name="treatments_results" contenteditable="true" rows="5" cols="140" placeholder="Вкажіть результат проведення реставраційних заходів">
Пам'ятка була очищена від нестійких пилових/пило-брудових нашаруваннь, корозія була видалена /сколи/тріщини/вибоїни/втрати
були доповнені. Предмет набув експозиційного вигляду.
</textarea>
</p>

<p>
<button><img src="{{url_for('static', filename='Intelligible_illustrations/restInfoLogo.ico')}}" alt="Завантажити паспорт на інтернет-платформу" type="submit" style="vertical-align: middle;"><b>Додати</b></button>
</p>
</div>

</form>

<div align="left">
<p><label>Використовувати зміст даної сторінки виключно з освітньою метою. 2021 рік. Україна. Київ.</label></p>
</div>
{% endblock %}