<!DOCTYPE html>
<html lang="ua">
<head>
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
    <link type="text/css" href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet"/>
    <meta charset="UTF-8">
    <title>Назва сайту - {{web_page_title}}</title>
</head>
<body>
{% block content -%}
{%- block main_menu -%}
<ul class="main_menu_appearance">


    {% for main_choice in main_menu -%}
    <li><a href="{{main_choice.url}}">{{main_choice.menu_element}}</a></li>
    {% endfor -%}


</ul>
{% endblock main_menu -%}


{% for ctg, msg in get_flashed_messages(True) %}
<div class="flash {{ctg}}">{{msg}}</div>
{% endfor %}


<div align="center">
<h2>Заповнення паспорта</h2>
<hr width="1000px">
</div>

<form enctype="multipart/form-data" action="{{url_for('add_passport')}}" method="post">
    <div align="center">
        <p>
        <table>
            <tr>
                <th>№ реставраційного паспорта:</th>
                <th>інвентарний № пам'ятки</th>
                <th>Акт приймання</th>
            </tr>
            <tr>
                <td><input name="passport_number" type="text" placeholder="№ паспорта" required></td>
                <td><input type="text" name="inventory_number" placeholder="інвентарний №" required></td>
                <td><textarea name="acceptance_number" placeholder="№
від: число/місяць/рік" required></textarea></td>
            </tr>
        </table>

        <p></p>
        <h3>Міністерство культури та інформаційної політики України</h3>
        <p></p>
        <h3>ПАСПОРТ РЕСТАВРАЦІЇ ПАМ'ЯТКИ ІСТОРІЇ ТА КУЛЬТУРИ (РУХОМОЇ)</h3>
        <p><b>Назва закладу, який здійснює реставрацію</b></p>
        <p><input type="text" name="institution_name" class="institution_department" placeholder="Назва установи/музею/учбового закладу" required></p>
        <p><b>Назва відділу/сектору</b></p>
        <p><input type="text" name="department_name" class="institution_department" placeholder="Відділ/сектор/майстерня" required></p>

        <p>
            <b>1. Типологічна приналежність пам'ятки</b>
        <table>
            <tr>
                <th>Визначення, характер пам'ятки:</th>
                <th>пам'ятка образотворчого мистецтва</th>
                <th>пам'ятка декоративно-ужиткового мистецтва</th>
                <th>археологічна пам'ятка</th>
                <th>документальна пам'ятка</th>
                <th>інша пам'ятка історії та культури</th>
            </tr>
            <tr>
                <td><input type="text" name="definition" placeholder="Цільова приналежність" required></td>
                <td><input type="radio" name="typological" value="(1)" required>1</td>
                <td><input type="radio" name="typological" value="(2)" required>2</td>
                <td><input type="radio" name="typological" value="(3)" required>3</td>
                <td><input type="radio" name="typological" value="(4)" required>4</td>
                <td><input type="radio" name="typological" value="(5)" required>5</td>
            </tr>
        </table>

        <p><b>2. Місце постійного зберігання, власник пам'ятки</b></p>
        <p><input type="text" name="object_owner" class="object_owner" placeholder="Назва установи/ім'я та прізвище хранителя/приватна колекція" required></p>

        <p>
        <table>
            <tr>
                <th>3. Атрибутивні дані про пам'ятку згідно з актом приймання</th>
                <th>Уточнення в процесі реставрації</th>
            </tr>
            <tr>
                <td>Автор:<div align="center"><input type="text" name="author" class="attribution" placeholder="Ім'я автора/культура/школа" required></div></td>
                <td><div align="center"><input type="text" name="clarified_author" class="clarified_attribution" placeholder="Ім'я автора/культура/школа"></div></td>
            </tr>
            <tr>
                <td>Назва:<div align="center"><input type="text" name="object_name" class="attribution" placeholder="Введіть назву предмета" required></div></td>
                <td><div align="center"><input type="text" name="clarified_object_name" class="clarified_attribution" placeholder="Введіть назву предмета"></div></td>
            </tr>
            <tr>
                <td>Час створення:<div align="center"><input type="text" name="time_of_creation" class="attribution" placeholder="Рік/століття/проміжок часу" required></div></td>
                <td><div align="center"><input type="text" name="clarified_time_of_creation" class="clarified_attribution" placeholder="Рік/століття/проміжок часу"></div></td>
            </tr></table>

                    <div align="center"><br>
                    <button type="button" onclick="server.fillInIronForm();" class="material"> Залізо</button>
                    <button type="button" onclick="server.fillInCuprumForm();" class="material"> Мідь</button>
                    <button type="button" onclick="server.fillInSilverForm();" class="material"> Срібло</button>


                    {% if experienced_material%}
                    <button type="button" onclick="server.fillInExperiencedMaterialForm();" class="material">{{experienced_material}}</button>
                    {% endif %}
                    </div>

        <p>
        <table>
            <tr>
                <td>Матеріал, основа:<div align="center"><input type="text" name="material" class="attribution" placeholder="Перелік назв матеріалів" required></div></td>
                <td width="295"><div align="center"><input type="text" name="clarified_material" class="clarified_attribution" placeholder="Перелік назв матеріалів"></div></td>
            </tr>


            <tr>
                <td>Техніка виконання:<div align="center"><input type="text" name="technique" class="attribution" placeholder="Введіть назву техніки" required></div></td>
                <td><div align="center"><input type="text" name="clarified_technique" class="clarified_attribution" placeholder="Введіть назву техніки"></div></td>
            </tr>
            <tr>
                <td>Розміри:<div align="center"><input type="text" name="object_size" class="attribution" placeholder="Довжина/висота/ширина" required></div></td>
                <td><div align="center"><input type="text" name="clarified_size" class="clarified_attribution" placeholder="Довжина/висота/ширина"></div></td>
            </tr>
            <tr>
                <td>Вага:<div align="center"><input type="text" name="weight" class="attribution" placeholder="Кілограм/грам" required></div></td>
                <td><div align="center"><input type="text" name="clarified_weight" class="clarified_attribution" placeholder="Кілограм/грам"></div></td>
            </tr>
        </table>

        <p><b>4. Підстава для проведення реставраційних заходів</b></p>
        <p><textarea name="reason" contenteditable="true" rows="5" cols="140"
                     placeholder="Вкажіть підставу проведення реставрації" required>Пам'ятка вкрита нестійкими пиловими/пило-брудовими нашаруваннями/кородована/має сколи/тріщини/вибоїни/втрати.</textarea>
        </p>


        <p>
        <table>
            <tr>
                <th>Дати</th>
                <th>Реставратори</th>
            </tr>
            <tr>
                <td>Дата передання пам'ятки на реставрацію:<input name="object_input_date" type="text"
                                                                  placeholder="число/місяць/рік" required></td>
                <td><input name="execute_restorer" placeholder="Студент (курс)" type="text" required></td>
            </tr>
            <tr>
                <td>Дата завершення реставраційних заходів:<input type="text" name="object_output_date"
                                                                  placeholder="число/місяць/рік" required></td>
                <td><input type="text" name="responsible_restorer" placeholder="Керівник (Кваліфікація)" required></td>
            </tr>
        </table>


        <p><b>5. Основні дані з історії пам'ятки (довідка про побутування; відомості про умови зберігання,</b></p>
        <p><b>попередні дослідження, консерваційно-реставраційні заходи тощо), джерело надходження інформації</b></p>
        <p><textarea name="origin_description" contenteditable="true" rows="6" cols="140"
                     placeholder="Вкажіть дані з історії пам'ятки" required>
Пам'ятка походить з (вказати регіон) та перебувала у фондах (введіть назву установи або власність колекції).</textarea>
        </p>

        <p><b>6. Стан пам'ятки до реставрації</b></p>
        <p><i>6.1 За візуальним спостереженням:</i></p>
        <p><textarea name="appearance_description" id="changed_appearance_description" contenteditable="true" rows="30"
                     cols="140" placeholder="Вкажіть опис пам'ятки" required>
(ЗРАЗОК)
За візуальним спостереженням: ...
I. Візуальне дослідження (опис пам’ятки):
    1.Вказати назву (якщо є спеціальний термін).
    2.Описати форму та колір.
    3.Вказати спосіб виготовлення (кування, лиття, прокат, карбування, гравіювання, інкрустація, штампування, тиснення, скань, зернь).
    4.Описати орнамент (заглиблений, рельєфний).
    5.Описати розпис (монохромний, поліхромний, колір фарб).
    6.Вказати систему розпису, стиль (геометричний, рослинний, зооморфний, антропоморфний і т.д.).
    7.Вказати місце розпису (назва елемента, по всій поверхні або орнаментальний пояс і т.д.).
II. Описати вигляд предмета:
    1. Структура, фактура предмета (має блиск, неоднорідна, однорідна, крихка, пухка, розшарована);
    2. Вказати колір металу.
III. Забруднення:
    1.Нестійкі (пилові, брудові, ґрунтові) .
    2.Стійкі (вапнякові, природні та синтетичні смоли, висоли, гіпсові забруднення, плями кислів металів, сліди кіптяви,
        пеку, жиру, плями від пластиліну, масляної фарби, воску, клейові забруднення, чорнила, туш,
        записи фарбами (якого кольору), забруднення фарбами  від попередніх тонувань – місцезнаходження фарби,
        забруднення на зламах фрагментів (від клею, вапнякових нашарувань, пило брудові, ґрунтові і т.д.).
    3.Визначити за візуальним спостереженням яким клеєм склеєно фрагменти (клеєм БФ (світло-коричневого, коричневого, червоного кольору, прозорий),
        ПВА (полівінилацетатний клей молочного кольору, непрозорий, безбарвний, прозорий)
    4.Визначити форму забруднення (у вигляді локальних плям, неправильної форми, повсюдно, забруднення якоїсь частини пам’ятки).
    </textarea></p>
        <p><i>6.1.2 Втрати та пошкодження:</i></p>
        <p><textarea name="damages_description" id="changed_damages_description" contenteditable="true" rows="30"
                     cols="140" placeholder="Вкажіть втрати та пошкодження" required>
(ЗРАЗОК)
ІV. Попередня реставрація:
    1. Якщо була – описати якість попередньої реставрації).
    2. Свідчення про попередню реставрацію (відсутні, якщо є вказати джерело чи з чиїх слів записано).
    3. Реставрація не повна якщо:
        -  фрагменти склеєні, а втрати не восповнені;
        -восповнені частково;
        -є втрати у будь-якій частині виробу (вказати місце втрати, форму, розмір).
V. Опис наявних втрат та пошкоджень:
    1. Вказати із якої кількості фрагментів складається пам’ятка.
    2. Вказати на якість попереднього склеювання, доповнення.
    3. Вказати які частини пам’ятки відсутні (вказати розмір в см/мм та кв. см/мм).
    4. Вказати пошкодження, відслоюваня, розшарування, деформації.
    5. Визначити дефекти:
        -привнесені від археологічного чи реставраційного інструменту, помітки олівцем і т.д.;
        -виробничі;
        -тріщини (наскрізні, не наскрізні, волосяні (вказати форму, розмір, розташування);
        -сколи, вибоїни, незначні втрати, каверни, пробоїни, викришування, потертості, подряпини (вказати форму, розмір, розташування);
        -визначити дефекти тонувань (якщо є розпис, консерваційного покриття – описати колір, стан збереження,
        наявні значні або незначні, часткові, локальні втрати, потертості відшарування (вказати форму, розмір, розташування);
VІ. Біологічні пошкодження і руйнування:
    6.Бактерії, гриби та продукти їх життєдіяльності.</textarea></p>
        <p><i>6.1.3 Старі номери та позначення:</i></p>
        <p><textarea name="signs_description" contenteditable="true" rows="6" cols="140"
                     placeholder="Вкажіть номери та позначення" required>
Вказати де, яким чорнилом, які номери написано (написи та шифри необхідно фотофіксувати).
Марки (описати місцезнаходження, зовнішній вигляд марки або етикетки, колір і розмір, чим написано і чим приклеєний шифр).</textarea>
        </p>
        <p><i>6.1.4 Розміри:</i></p>
        <p><textarea name="size_description" contenteditable="true" rows="10" cols="92" placeholder="Вкажіть розміри"
                     required>
Довжина: см/мм;
Висота: см/мм;
Ширина: см/мм;
Товщина: см/мм.</textarea></p>

        <p><b>6.2. За даними лабораторних досліджень:</b></p>

        <p>
        <table>
            <tr>
                <th>Мета дослідження</th>
                <th>Методи і результати дослідження</th>
                <th>Виконавець та дата</th>
            </tr>
            <tr>
                <td><textarea name="purposes_researches" id="dynamic_purposes_researches_by_material"
                              contenteditable="true" rows="30" cols="22" required>
(ЗРАЗОК)Визначення заліза фізичним методом
</textarea></td>
                <td><textarea name="methods_researches" id="dynamic_methods_researches_by_material"
                              contenteditable="true" rows="30" cols="35" required>
(ЗРАЗОК)Для визначення заліза використовувався магніт.
Висновок:
Усі деталі предмета мають магнітні властивості та виготовлені з заліза.
</textarea></td>
                <td><textarea name="executor_date_researches" rows="30" cols="20" placeholder="Ім'я та прізвище виконавця;
число/місяць/рік." required>
</textarea></td>
            </tr>
        </table>
        </p>

        <p><b>6.3 Загальний висновок за результатами досліджень:</b></p>
        <p><textarea name="results_researches" contenteditable="true" rows="5" cols="140"
                     placeholder="Вкажіть підставу проведення реставрації" required>Пам'ятка вкрита нестійкими пиловими/пило-брудовими нашаруваннями/кородована/має сколи/тріщини/вибоїни/втрати.</textarea>
        </p>


        <TABLE>

            <tr>
                <th>7. Програма проведення реставраційних заходів та їх обгрунтування</th>
            </tr>
            <tr>
                <td><textarea name="restoration_program" id="dynamic_restoration_program_by_material"
                              contenteditable="true" rows="20" cols="91" required>
(ЗРАЗОК)
1.Видалити поверхневі забруднення
2.Видалити стійкі забруднення
3.Видалити продукти корозії
4.Виготовити втрачений елемент
5.Провести стабілізацію продуктів корозії
6.Провести консервацію
</textarea></td>

        </TABLE>


        <p>
            <b>8. Проведення реставраційних заходів:</b>
        <table>
            <tr>
                <th>Опис операцій із зазначенням методу, методики, технології, інструментарію</th>
                <th>Матеріали, хімікати (концентрація %)</th>
                <th>Виконавець та дата</th>
            </tr>
            <tr>
                <td><textarea name="treatments_descriptions" id="dynamic_treatments_descriptions_by_material"
                              contenteditable="true" rows="29" cols="60" required>
(ЗРАЗОК)
Видалення поверхневих забруднень:
Проводили тампонами змоченими в нафтовому розчиннику нефрас "Калоша".
</textarea></td>
                <td><textarea name="treatments_chemicals" id="dynamic_treatments_chemicals_by_material"
                              contenteditable="true" rows="29" cols="35" required>
(ЗРАЗОК)
Нефрас "Калоша".
</textarea></td>
                <td><textarea name="treatments_executor_date" rows="29" cols="20" placeholder="Ім'я та прізвище виконавця;
число/місяць/рік." required>
</textarea></td>
            </tr>
        </table>
        </p>


        <p><b>9. Стислий опис реставраційних заходів; опис змін технічного та зовнішнього стану пам'ятки після
            реставрації, уточнення атрибуції тощо:</b></p>
        <p><textarea name="treatments_results" contenteditable="true" rows="5" cols="140"
                     placeholder="Вкажіть результат проведення реставраційних заходів" required>Пам'ятка була очищена від нестійких пилових/пило-брудових нашаруваннь, корозія була видалена /сколи/тріщини/вибоїни/втрати були доповнені. Предмет набув експозиційного вигляду.</textarea>
        </p>


        <p>
            <button class="upload_passport">Додати</button>
        </p>
    </div>
</form>
<div align="center"><p><h6>Використовувати застосунок виключно з освітньою метою.</h6></div>
{% endblock %}