<!DOCTYPE html>
<html lang="ua">
<head>
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
    <link type="text/css" href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>Рест.Інфо - {{web_page_title}}</title>
</head>
<body>
{% block content -%}
    {%- block mainmenu -%}
<ul class="mainmenu">
    {% for m in menu -%}
    <li><a href="{{m.url}}">{{m.title}}</a></li>
        {% endfor -%}
</ul>
    {% endblock mainmenu -%}
<div class="clear"></div>
<div class="content">
    <h1>{{web_page_title}}</h1>

  <style>
   #iron_lab_researches_description {
    width: 1250px; /* Ширина поля в пикселах */
   }
   #copper_lab_researches_description {
    width: 1250px; /* Ширина поля в пикселах */
   }
   #silver_lab_research_description {
    width: 1250px; /* Ширина поля в пикселах */
   }
   #iron_lab_researches {
    width: 1250px; /* Ширина поля в пикселах */
   }
   #copper_lab_researches {
    width: 1250px; /* Ширина поля в пикселах */
   }
   #silver_lab_researches {
    width: 1250px; /* Ширина поля в пикселах */
   }
   #researches_executor {
    width: 1250px; /* Ширина поля в пикселах */
   }
   #copper_treatments {
    width: 500px; /* Ширина поля в пикселах */
   }
   #iron_treatments {
    width: 500px; /* Ширина поля в пикселах */
   }
   #silver_treatments {
    width: 500px; /* Ширина поля в пикселах */
   }
  </style>
<div align="center">
    <p>
    <table>
    <tr>
    <th>№ реставраційного паспорта:</th><th>інвентарний № пам'ятки</th><th>Акт приймання</th>
   </tr>
    <tr>
    <td>{{passport_number}}</td><td>{{title}}</td>
        <td>{{post}}</td>
    </tr>
    </table>
    </p>

    <p></p><h3>Освітня інтернет-платформа "Рест.Інфо"</h3></p>
    <p></p><h3>ЗРАЗОК БЛАНКА ПАСПОРТА РЕСТАВРАЦІЇ ПАМ'ЯТКИ ІСТОРІЇ ТА КУЛЬТУРИ(РУХОМОЇ)</h3></p>
<p><b>Назва закладу, який здійснює реставрацію</b></p>
<p>{{institution_name}}</p>
<p><b>Назва відділу/сектору</b></p>
<p>{{department_name}}</p>

<p>
<b>1. Типологічна приналежність пам'ятки</b>
<table>
    <tr>
    <th>Визначення, характер пам'ятки:</th><th>пам'ятка образотворчого мистецтва</th><th>пам'ятка декоративно-ужиткового мистецтва</th>
        <th>археологічна пам'ятка</th><th>документальна пам'ятка</th><th>інша пам'ятка історії та культури</th>
   </tr>
    <tr>
    <td>{{definition}}</td>
        {% if typological == '(1)'%}
            <td>{{typological}}</td>
        {% else %}
            <td></td>
        {% endif %}
        {% if typological == '(2)'%}
            <td>{{typological}}</td>
        {% else %}
            <td></td>
        {% endif %}
        {% if typological == '(3)'%}
            <td>{{typological}}</td>
        {% else %}
            <td></td>
        {% endif %}
        {% if typological == '(4)'%}
            <td>{{typological}}</td>
        {% else %}
            <td></td>
        {% endif %}
        {% if typological == '(5)'%}
            <td>{{typological}}</td>
        {% else %}
            <td></td>
        {% endif %}
   </tr>
</table>
</p>

<p><b>2. Місце постійного зберігання, власник пам'ятки</b></p>
<p>{{object_owner}}</p>

<p>
<table>
   <tr>
    <th>3. Атрибутивні дані про пам'ятку згідно з актом приймання</th><th>Уточнення в процесі реставрації</th>
   </tr>
   <tr>
    <td>Автор: {{author}}</td><td>{{clarified_author}}</td>
   </tr>
   <tr>
    <td>Назва: {{object_title}}</td><td>{{clarified_object_title}}</td>
   </tr>
   <tr>
       <td>Час створення: {{time_of_creation}}</td><td>{{clarified_time_of_creation}}</td>
   </tr>
    <tr>
       <td>Матеріал, основа: {{material}}</td><td>{{clarified_material}}</td>
   </tr>
    <tr>
       <td>Техніка виконання: {{technique}}</td><td>{{clarified_technique}}</td>
   </tr>
    <tr>
       <td>Розміри: {{object_size}}</td><td>{{clarified_size}}</td>
   </tr>
    <tr>
       <td>Вага: {{weight}}</td><td>{{clarified_weight}}</td>
   </tr>
</table>
</p>

    <p><b>4. Підстава для проведення реставраційних заходів</b></p>
    <p>{{reason}}</p>


    <p>
<table>
   <tr>
    <th>Дати</th><th>Реставратори</th>
   </tr>
   <tr>
    <td>Дата передання пам'ятки на реставрацію: {{object_input_date}}</td>
       <td>{{execute_restorer}}</td>
   </tr>
    <tr>
    <td>Дата завершення реставраційних заходів: {{object_output_date}}</td>
        <td>{{responsible_restorer}}</td>
   </tr>
</table>
    </p>


    <p><b>5. Основні дані з історії пам'ятки (довідка про побутування; відомості про умови зберігання,</b></p>
        <p><b>попередні дослідження, консерваційно-реставраційні заходи тощо), джерело надходження інформації</b></p>
    <div align="justify"><p>{{origin_description}}</p></div>

    <p><b>6. Стан пам'ятки до реставрації</b></p>
    <p><i>6.1 За візуальним спостереженням:</i></p>
    <div align="justify"><p>{{appearance_description}}</p></div>
    <p><i>6.1.2 Втрати та пошкодження:</i></p>
    <div align="justify"><p>{{damages_description}}</p></div>
    <p><i>6.1.3 Старі номери та позначення:</i></p>
    <div align="justify"><p>{{signs_description}}</p></div>
    <p><i>6.1.4 Розміри:</i></p>
    <p>{{size_description}}</p>


<b>6.2. За даними лабораторних досліджень:</b>
<TABLE>
<tr>
<th>Орієнтовні зразки описів проведення лабораторних досліджень за матеріалами:</th>
</tr>


<tr>
<td>
<label for="iron_lab_researches">Залізо</label>
<input type="text" name="chosen_iron_lab_researches" id="iron_lab_researches" list="iron_lab_researches_list">
<datalist id="iron_lab_researches_list">
    <option>Визначення заліза фізичним методом</option>
    <option>Визначення продуктів корозії заліза методом світлової мікроскопії</option>
</datalist>
</td>
</tr>

<tr>
<td>
<label for="iron_lab_researches_description">Обрати опис проведеня дослідження заліза</label>
<input type="text" name="chosen_iron_lab_researches_description" id="iron_lab_researches_description" list="iron_lab_researches_list_description">
<datalist id="iron_lab_researches_list_description">
    <option>Для визначення заліза використовувався магніт.
Висновок:
Усі деталі предмета мають магнітні властивості та виготовлені з заліза</option>
    <option>Під мікроскопом МБС-10 були виявлені продукти корозії заліза,
колір яких характерний для :
-оксидів заліза
-гідроксидів заліза
Висновок:
сплав на основі заліза</option>
</datalist>
</td>
</tr>


<tr>
<td>
<label for="copper_lab_researches">Мідь</label>
<input type="text" name="chosen_copper_lab_researches" id="copper_lab_researches" list="copper_lab_researches_list">
<datalist id="copper_lab_researches_list">
    <option>Визначення металу мідного кольору</option>
    <option>Визначення продуктів корозії міді методом світлової мікроскопії</option>
</datalist>
</td>
</tr>


<tr>
<td>
<label for="copper_lab_researches_description">Обрати опис проведеня дослідження міді</label>
<input type="text" name="chosen_copper_lab_researches_description" id="copper_lab_researches_description" list="copper_lab_researches_description_list">
<datalist id="copper_lab_researches_description_list">
    <option>Нанесену краплю розчину азотної кислоти з водою 1:1 промокнули фільтрувальним папером. Папір після вміщення в пари аміаку забарвився у темно-блакитний колір.
Висновок:
сплав на основі міді.</option>
    <option>Під мікроскопом МБС-10 були виявлені продукти корозії міді,
колір яких характерний для:
-вуглекислих солей міді.
Висновок:
сплав  на основі міді.</option>
</datalist>
</td>
</tr>


<tr>
<td>
<label for="silver_lab_researches">Срібло</label>
<input type="text" name="chosen_silver_lab_researches" id="silver_lab_researches" list="silver_lab_researches_list">
<datalist id="silver_lab_researches_list">
    <option>Визначення металу на вміст срібла</option>
    <option>Визначення продуктів корозії міді методом світлової мікроскопії</option>
    <option>Визначення якості металу</option>
</datalist>
</td>
</tr>


<tr>
<td>
<label for="silver_lab_research_description">Обрати опис проведеня дослідження срібла</label>
<input type="text" name="chosen_silver_lab_research_description" id="silver_lab_research_description" list="silver_lab_research_description_list">
<datalist id="silver_lab_research_description_list">
    <option>На очищену поверхню було нанесено краплю "червоної пробірної кислоти",
через кілька секунд пляма забарвилась у колір червоного біхромату срібла.
Висновок:
сплав на основі срібла.</option>
    <option>Під мікроскопом МБС-10 були виявлені продукти корозії міді,
колір яких характерний для :
-хлорної міді
-сульфідів срібла
Висновок:
сплав має вміст міді.</option>
    <option>Апробація проводилась пробірним наглядом.
Висновок:
експонат відповідає пробі срібла 875.</option>
</datalist>
</td>
</tr>
</TABLE>


<p>
<table>
<tr>
<th>Мета дослідження</th><th>Методи і результати дослідження</th><th>Виконавець та дата</th>
</tr>
<tr>
<td><textarea type="text" contenteditable="true" rows="30" cols="22">
Визначення заліза фізичним методом
</textarea></td><td><textarea type="text" contenteditable="true" rows="30" cols="35">
Для визначення заліза використовувався магніт.
Висновок:
Усі деталі предмета мають магнітні властивості та виготовлені з заліза.
</textarea></td>
<td><textarea type="text" rows="30" cols="20" placeholder="Ім'я та прізвище виконавця;
число/місяць/рік.">
</textarea></td>
</tr>
</table>
</p>


<p><b>6.3 Загальний висновок за результатами досліджень:</b></p>
<p><textarea type="text" contenteditable="true" rows="5" cols="140" placeholder="Вкажіть підставу проведення реставрації">
Пам'ятка вкрита нестійкими пиловими/пило-брудовими нашаруваннями/кородована/має сколи/тріщини/вибоїни/втрати,
уражена грибами/бактеріями/комахами/продуктами їх життєдіяльності. Предмет потребує надання експозиційного вигляду.
</textarea>
</p>


<TABLE>
<tr>
<th>Орієнтовні зразки описів проведення реставраційних заходів за матеріалами:</th>
</tr>


<tr>
<td>
<label for="iron_treatments">Залізо</label>
<input type="text" name="chosen_iron_treatments" id="iron_treatments" list="iron_treatments_list">
<datalist id="iron_treatments_list">
    <option>Видалити поверхневі забруднення</option>
    <option>Видалити стійкі забруднення</option>
    <option>Видалити продукти корозії</option>
    <option>Виготовити втрачений елемент</option>
    <option>Провести стабілізацію продуктів корозії</option>
    <option>Провести консервацію</option>
</datalist>
</td>
</tr>

<tr>
<td>

<label for="copper_treatments">Мідь</label>
<input type="text" name="chosen_copper_treatments" id="copper_treatments" list="copper_treatments_list">
<datalist id="copper_treatments_list">
    <option>Видалити поверхневі забруднення</option>
    <option>Видалити стійкі забруднення</option>
    <option>Видалити продукти корозії</option>
    <option>Провести стабілізацію продуктів корозії</option>
    <option>Провести консервацію</option>
</datalist>

</td>
</tr>



<tr>
<td>
<label for="silver_treatments">Срібло</label>
<input type="text" name="chosen_silver_treatments" id="silver_treatments" list="silver_treatments_list">
<datalist id="silver_treatments_list">
    <option>Видалити поверхневі забруднення</option>
    <option>Видалити стійкі забруднення</option>
    <option>Видалити продукти корозії</option>
    <option>Видалити залишки олов’яного припою</option>
    <option>Провести стабілізацію</option>
    <option>Провести консервацію</option>
</datalist>
</td>
</tr>

<tr>
<th>7. Програма проведення реставраційних заходів та їх обгрунтування</th>
</tr>
<tr>
<td><textarea type="text" contenteditable="true" rows="20" cols="91">
1.Видалити поверхневі забруднення
2.Видалити стійкі забруднення
3.Видалити продукти корозії
4.Виготовити втрачений елемент
5.Провести стабілізацію продуктів корозії
6.Провести консервацію
</textarea></td>

</TABLE>


<p>
<b>9. Проведення реставраційних заходів:</b>
<table>
<tr>
<th>Опис операцій із зазначенням методу, методики, технології, інструментарію</th>
    <th>Матеріали, хімікати (консентрація %)</th><th>Виконавець та дата</th>
</tr>
<tr>
<td><textarea type="text" contenteditable="true" rows="29" cols="60">
Видалення поверхневих забруднень:
Проводили тампонами змоченими в нафтовому розчиннику нефрас "Калоша".
</textarea></td><td><textarea type="text" contenteditable="true" rows="29" cols="35">
Нефрас "Калоша".
</textarea></td>
<td><textarea type="text" rows="29" cols="20" placeholder="Ім'я та прізвище виконавця;
число/місяць/рік.">
</textarea></td>
</tr>
</table>
</p>


<p><b>6.3 Загальний висновок за результатами досліджень:</b></p>
<p><textarea type="text" contenteditable="true" rows="5" cols="140" placeholder="Вкажіть підставу проведення реставрації">
Пам'ятка була очищена від нестійких пилових/пило-брудових нашаруваннь, корозія була видалена /сколи/тріщини/вибоїни/втрати
були доповнені. Предмет набув експозиційного вигляду.
</textarea>
</p>

<TABLE>
<tr>
<th>Ілюстративний матеріал:</th>
</tr>

<tr>
<td>
<tr>
<td>
<label>До реставрації:</label>
<input type="file" name="photo_before_restoration" multiple accept="image/*,video/*">
</td>
</tr>

<tr>
<td>
<label>В процесі реставрації:</label>
<input type="file" name="photo_in_proses_restoration" multiple accept="image/*,video/*">
</td>
</tr>


<tr>
<td>
<label>Після реставрації:</label>
<input type="file" name="photo_after_restoration" multiple accept="image/*,video/*">
</td>
</tr>
</TABLE>

<div align="left">
<p><label>Використовувати зміст даної сторінки виключно з освітньою метою. 2021 рік. Україна. Київ.</label></p>
</div>
{% endblock -%}
</div>
</div>
</body>
</html>