<!DOCTYPE html>
<html lang="ua">
<head>
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
    <link type="text/css" href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet"/>
    <meta charset="UTF-8">
    <title>Рест.Інфо - {{web_page_title}}</title>
</head>
<body>
{% block content -%}
{%- block main_menu -%}
<ul class="main_menu_appearance">


    {% for main_choice in main_menu -%}
    <li><a href="{{main_choice.url}}">{{main_choice.menu_element}}</a></li>
    {% endfor -%}


</ul>
{% endblock main_menu -%}


{% for ctg, msg in get_flashed_messages(True) %}
<div class="flash {{ctg}}">{{msg}}</div>
{% endfor %}


<div align="center">
    <p><h2 style="font-size: 25px;">{{current_restorer_name}}</h2><hr width="1000px">
    <p><a href="{{url_for('add_passport')}}" class="cabinet_workflow_suggestions_links"><b>Заповнити паспорт</b></a>
    <p><a href="{{url_for('portfolio')}}" class="cabinet_workflow_suggestions_links"><b>Портфоліо</b></a>
    <p><a class="cabinet_workflow_suggestions_links"><b>Додати досвід</b></a>
    <p><br><br><a style="font-size: 20px; padding: 15px; border-radius: 5px;" onclick="openPopup(); window.scrollTo(0, 0);">Вийти</a>
</div>

<div class="popup_appearance" id="popup">
            <h1>Дійсно вийти?</h1>
            <p><h3>Для повернення в цей кабінет необхідно буде внести електронну адресу та пароль.</h3></p>
            <a type="button" href="{{url_for('logout')}}" onclick="closePopup();" class="danger"><b>Вийти</b></a>
            <a type="button" onclick="closePopup();" class="cancel"><b>Скасувати</b></a>
<script>
let popup = document.getElementById("popup");

function openPopup() {
    popup.classList.add("open-popup_appearance");
}

function closePopup() {
    popup.classList.remove("open-popup_appearance");
}
</script>
</div>

{% endblock %}