<!DOCTYPE html>
<html lang="ua">
<head>
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
    <link type="text/css" href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet"/>
    <meta charset="UTF-8">
    <title>Назва сайту - {{web_page_title}}</title>
</head>
<body>
{% block content -%}
{%- block main_menu -%}
<ul class="main_menu_appearance">


    {% for main_choice in main_menu -%}
    <li><a href="{{main_choice.url}}">{{main_choice.menu_element}}</a></li>
    {% endfor -%}


</ul>
{% endblock main_menu -%}


{% for ctg, msg in get_flashed_messages(True) %}
<div class="flash {{ctg}}">{{msg}}</div>
{% endfor %}


<div class="content">
        <p>
            <a onclick="openPopup(); window.scrollTo(0, 0);" class="delete_suggestion">Видалити</a>
        </p>
    <div class="popup_appearance" id="popup">
            <h1>Дійсно видалити?</h1>
            <p><h3>Паспорт пам'ятки "{{passport.object_name}} {{passport.inventory_number}}" буде видалено назавжди.</h3></p>
            <a type="button" href="{{url_for('deleted_passport_report', id_post=passport.id)}}" onclick="closePopup();" class="danger"><b>Знищити</b></a>
            <a type="button" onclick="closePopup();" class="cancel"><b>Скасувати</b></a>
</div>

    <h1>{{object_name}} {{inventory_number}}</h1>

<div align="center">
    <div>
        <p>
        <table class="pale_TABLE" >
            <tr>
                <th>№ реставраційного паспорта:</th>
                <th>інвентарний № пам'ятки</th>
                <th>Акт приймання</th>
            </tr>
            <tr>
                <td>{{passport_number}}</td>
                <td>{{inventory_number}}</td>
                <td>{{acceptance_number}}</td>
            </tr>
        </table>

        <p></p>
        <h3 class="light_text" >Міністерство культури та інформаційної політики України</h3>
        <p></p>
        <h3 class="light_text" >ПАСПОРТ РЕСТАВРАЦІЇ ПАМ'ЯТКИ ІСТОРІЇ ТА КУЛЬТУРИ (РУХОМОЇ)</h3>

        <p>
        <h3 class="light_text" >{{institution_name}}</h3>
        <p class="light_text" >Назва закладу, який здійснює реставрацію</p>
        <p>
        <h3 class="light_text" >{{department_name}}</h3>
        <p class="light_text" >Назва відділу/сектору</p>

        <p>
            <b class="light_text" >1. Типологічна приналежність пам'ятки</b>
        <table class="pale_TABLE">
            <tr>
                <th>Визначення, характер пам'ятки:</th>
                <th>пам'ятка образотворчого мистецтва</th>
                <th>пам'ятка декоративно-ужиткового мистецтва</th>
                <th>археологічна пам'ятка</th>
                <th>документальна пам'ятка</th>
                <th>інша пам'ятка історії та культури</th>
            </tr>
            <tr>
                <td>{{definition}}</td>
                {% if typological == '(1)'%}
                <td>{{typological}}</td>
                {% else %}
                <td></td>
                {% endif %}
                {% if typological == '(2)'%}
                <td>{{typological}}</td>
                {% else %}
                <td></td>
                {% endif %}
                {% if typological == '(3)'%}
                <td>{{typological}}</td>
                {% else %}
                <td></td>
                {% endif %}
                {% if typological == '(4)'%}
                <td>{{typological}}</td>
                {% else %}
                <td></td>
                {% endif %}
                {% if typological == '(5)'%}
                <td>{{typological}}</td>
                {% else %}
                <td></td>
                {% endif %}
            </tr>
        </table>

        <p class="pale_text" ><b>2. Місце постійного зберігання, власник пам'ятки</b></p>
        <p class="pale_text" >{{object_owner}}</p>

        <p>
        <table class="pale_TABLE">
            <tr>
                <th>3. Атрибутивні дані про пам'ятку згідно з актом приймання</th>
                <th>Уточнення в процесі реставрації</th>
            </tr>
            <tr>
                <td>Автор: {{author}}</td>
                <td>{{clarified_author}}</td>
            </tr>
            <tr>
                <td>Назва: {{object_name}}</td>
                <td>{{clarified_object_name}}</td>
            </tr>
            <tr>
                <td>Час створення: {{time_of_creation}}</td>
                <td>{{clarified_time_of_creation}}</td>
            </tr>
            <tr>
                <td>Матеріал, основа: {{material}}</td>
                <td>{{clarified_material}}</td>
            </tr>
            <tr>
                <td>Техніка виконання: {{technique}}</td>
                <td>{{clarified_technique}}</td>
            </tr>
            <tr>
                <td>Розміри: {{object_size}}</td>
                <td>{{clarified_size}}</td>
            </tr>
            <tr>
                <td>Вага: {{weight}}</td>
                <td>{{clarified_weight}}</td>
            </tr>
        </table>

        <p class="pale_text" ><b>4. Підстава для проведення реставраційних заходів</b></p>
        <div align="justify" class="pale_text" ><p>{{reason}}</p></div>


        <p>
        <table class="pale_TABLE">
            <tr>
                <th>Дати</th>
                <th>Реставратори</th>
            </tr>
            <tr>
                <td>Дата передання пам'ятки на реставрацію: {{object_input_date}}</td>
                <td>Виконавець: {{execute_restorer}}</td>
            </tr>
            <tr>
                <td>Дата завершення реставраційних заходів: {{object_output_date}}</td>
                <td>Керівник: {{responsible_restorer}}</td>
            </tr>
        </table>
<div align="center"><p><h6>Використовувати застосунок виключно з освітньою метою.</h6></div>
{% endblock -%}
    <script>
let popup = document.getElementById("popup");

function openPopup() {
    popup.classList.add("open-popup_appearance");
}

function closePopup() {
    popup.classList.remove("open-popup_appearance");
}
</script>
</div>
</div>
</div>
</body>
</html>