<!DOCTYPE html>
<html lang="ua">
<head>
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
    <link type="text/css" href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet"/>
    <meta charset="UTF-8">
    <title>Назва сайту - {{web_page_title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
{% block content -%}
{%- block main_menu -%}
<ul class="main_menu_appearance">


    {% for main_choice in main_menu -%}
    <li><a href="{{main_choice.url}}">{{main_choice.menu_element}}</a></li>
    {% endfor -%}


</ul>
{% endblock main_menu -%}


{% for ctg, msg in get_flashed_messages(True) %}
<div class="flash {{ctg}}">{{msg}}</div>
{% endfor %}

<div align="center" class="entrance_title">
<p>Видалити паспорт</div>
<hr class="underline">



<div align="center">
    <p class="passport_title"><b>{{object_name}} {{inventory_number}}</b>

    <p><a onclick="openPopup(); window.scrollTo(0, 0);" class="delete_suggestion">Видалити</a></p>

        <div class="popup_appearance" id="popup">
                <h1>Дійсно видалити?</h1>
                <p><h3>Паспорт пам'ятки "{{passport.object_name}} {{passport.inventory_number}}" буде видалено назавжди.</h3>
                <a type="button" href="{{url_for('deleted_passport_report', id_post=passport.id)}}" onclick="closePopup();" class="danger"><b>Знищити</b></a>
                <a type="button" onclick="closePopup();" class="cancel"><b>Скасувати</b></a>
        </div>

        <p>
        <table class="passport_identity">
            <tr>
                <th>№ реставраційного паспорта:</th>
                <th>інвентарний № пам'ятки</th>
                <th>Акт приймання</th>
            </tr>
            <tr>
                <td class="passport_show">{{passport_number}}</td>
                <td class="passport_show">{{inventory_number}}</td>
                <td class="passport_show">{{acceptance_number}}</td>
            </tr>
        </table>
        <div class="passport_ministry">
            <p>Міністерство культури та інформаційної політики України
            <p>ПАСПОРТ РЕСТАВРАЦІЇ ПАМ'ЯТКИ ІСТОРІЇ ТА КУЛЬТУРИ (РУХОМОЇ)
        </div>

        <div class="passport_institution_department">
            <p><b>Назва закладу, який здійснює реставрацію</b></p>
            <p>{{institution_name}}</p>
            <p><b>Назва відділу/сектору</b></p>
            <p>{{department_name}}</p>
        </div>

        <div class="passport_typological">
        <p class="passport_title"><b>1. Типологічна приналежність пам'ятки</b>
            <table>
                <tr>
                    <th>Визначення, характер пам'ятки:</th>
                    <th>пам'ятка образотворчого мистецтва</th>
                    <th>пам'ятка декоративно-ужиткового мистецтва</th>
                    <th>археологічна пам'ятка</th>
                    <th>документальна пам'ятка</th>
                    <th>інша пам'ятка історії та культури</th>
                </tr>
            <tr>
                <td class="passport_show">{{definition}}</td>
                {% if typological == '(1)'%}
                <td class="passport_show">{{typological}}</td>
                {% else %}
                <td class="passport_show"></td>
                {% endif %}
                {% if typological == '(2)'%}
                <td class="passport_show">{{typological}}</td>
                {% else %}
                <td class="passport_show"></td>
                {% endif %}
                {% if typological == '(3)'%}
                <td class="passport_show">{{typological}}</td>
                {% else %}
                <td class="passport_show"></td>
                {% endif %}
                {% if typological == '(4)'%}
                <td class="passport_show">{{typological}}</td>
                {% else %}
                <td class="passport_show"></td>
                {% endif %}
                {% if typological == '(5)'%}
                <td class="passport_show">{{typological}}</td>
                {% else %}
                <td class="passport_show"></td>
                {% endif %}
            </tr>
            </table>
        </div>

        <p class="passport_title"><b>2. Місце постійного зберігання, власник пам'ятки</b></p>
        <p class="passport_title">{{object_owner}}</p>

        <div class="attribution">
            <p>
                <table>
                    <tr>
                        <th>3. Атрибутивні дані про пам'ятку згідно з актом приймання</th>
                        <th>Уточнення в процесі реставрації</th></tr>
                    <tr>
                        <td class="passport_show">Автор:<div align="center">{{author}}</div></td>
                        <td class="passport_show">*<div align="center">{{clarified_author}}</div></td></tr>
                    <tr>
                        <td class="passport_show">Назва:<div align="center">{{object_name}}</div></td>
                        <td class="passport_show">*<div align="center">{{clarified_object_name}}</div></td></tr>
                    <tr>
                        <td class="passport_show">Час створення:<div align="center">{{time_of_creation}}</div></td>
                        <td class="passport_show">*<div align="center">{{clarified_time_of_creation}}</div></td>
                    <tr>
                        <td class="passport_show">Матеріал, основа:<div align="center">{{material}}</div></td>
                        <td class="passport_show">*<div align="center">{{clarified_material}}</div></td></tr>
                    <tr>
                        <td class="passport_show">Техніка виконання:<div align="center">{{technique}}</div></td>
                        <td class="passport_show">*<div align="center">{{clarified_technique}}</div></td></tr>
                    <tr>
                        <td class="passport_show">Розміри:<div align="center">{{object_size}}</div></td>
                        <td class="passport_show">*<div align="center">{{clarified_size}}</div></td></tr>
                    <tr>
                        <td class="passport_show">Вага:<div align="center">{{weight}}</div></td>
                        <td class="passport_show">*<div align="center">{{clarified_weight}}</div></td></tr>
                </table>
        </div>

        <p class="passport_title"><b>4. Підстава для проведення реставраційних заходів</b></p>
        <p class="passport_title">{{reason}}</p>

        <p>
        <table class="dates_restorers">
            <tr>
                <th>Дати</th>
                <th>Реставратори</th>
            </tr>
            <tr>
                <td class="passport_show">Дата передання пам'ятки на реставрацію: {{object_input_date}}</td>
                <td class="passport_show">{{execute_restorer}}</td>
            </tr>
            <tr>
                <td class="passport_show">Дата завершення реставраційних заходів: {{object_output_date}}</td>
                <td class="passport_show">{{responsible_restorer}}</td>
            </tr>
        </table>
    <br>
    </div>
</body>
</html>
{% endblock -%}
    <script>
let popup = document.getElementById("popup");

function openPopup() {
    popup.classList.add("open-popup_appearance");
}

function closePopup() {
    popup.classList.remove("open-popup_appearance");
}
</script>
