<!DOCTYPE html>
<html lang="ua">
<head>
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
    <link type="text/css" href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet"/>
    <meta charset="UTF-8">
    <title>Назва сайту - {{web_page_title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
{% block content -%}
{%- block main_menu -%}
<ul class="main_menu_appearance">


    {% for main_choice in main_menu -%}
    <li><a href="{{main_choice.url}}">{{main_choice.menu_element}}</a></li>
    {% endfor -%}


</ul>
{% endblock main_menu -%}


{% for ctg, msg in get_flashed_messages(True) %}
<div class="flash {{ctg}}">{{msg}}</div>
{% endfor %}

<div align="center" class="entrance_title">
<p>Видалити досвід</div>
<hr class="underline">



<div align="center">
        <p>
            <a onclick="openPopup(); window.scrollTo(0, 0);" class="delete_suggestion">Видалити</a>
        </p>
    <div class="popup_appearance" id="popup">
            <h1>Дійсно видалити?</h1>
            {% if experience.experienced_material %}
            <p><h3>Реставраційний досвід роботи з матеріалом "{{experience.experienced_material}}" буде видалено назавжди.</h3></p>
            <a type="button" href="{{url_for('deleted_experience_report', id_post=experience.id)}}" onclick="closePopup();" class="danger"><b>Знищити</b></a>
            {% endif %}

            {% if experience.experienced_material_2 %}
            <p><h3>Реставраційний досвід роботи з матеріалом "{{experience.experienced_material_2}}" буде видалено назавжди.</h3></p>
            <a type="button" href="{{url_for('deleted_experience_report_2', id_post=experience.id)}}" onclick="closePopup();" class="danger"><b>Знищити</b></a>
            {% endif %}

            {% if experience.experienced_material_3 %}
            <p><h3>Реставраційний досвід роботи з матеріалом "{{experience.experienced_material_3}}" буде видалено назавжди.</h3></p>
            <a type="button" href="{{url_for('deleted_experience_report_3', id_post=experience.id)}}" onclick="closePopup();" class="danger"><b>Знищити</b></a>
            {% endif %}
            <a type="button" onclick="closePopup();" class="cancel"><b>Скасувати</b></a>
    </div>


<div align="center">
    <ul class="list_passports_appearance">
        <li class="portfolio_suggestions_links">
            <p class="object_name_inventory_number_appearance">{{experienced_material}}</p>
            <br>
        </li>
    </ul>
</div>
{% endblock %}
<script>
let popup = document.getElementById("popup");

function openPopup() {
    popup.classList.add("open-popup_appearance");
}

function closePopup() {
    popup.classList.remove("open-popup_appearance");
}
</script>
</div>
</body>
</html>
