<!DOCTYPE html>
<html lang="ua">
<head>
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
    <link type="text/css" href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>Назва сайту - {{web_page_title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
{% block content -%}
    {%- block main_menu -%}
<ul class="main_menu_appearance">


    {% for main_choice in main_menu -%}
    <li><a href="{{main_choice.url}}">{{main_choice.menu_element}}</a></li>
    {% endfor -%}


</ul>
    {% endblock main_menu -%}


{% for ctg, msg in get_flashed_messages(True) %}
<div class="flash {{ctg}}">{{msg}}</div>
{% endfor %}

<div align="center" class="entrance_title">
<p>Досвід</div>
<hr class="underline">

<div align="center">
    <p><a href="{{url_for('add_experience')}}" class="cabinet_workflow_suggestions_links"><b>Додати досвід</b></a>
<ul class="list_passports_appearance">
{% if experiences %}
{% for experienced_restoration in experiences %}
<li class="portfolio_suggestions_links">
    <p class="object_name_inventory_number_appearance">{{experienced_restoration.experienced_material}}</p>
    <p><a href="{{url_for('update_experience', id_post=experienced_restoration.id)}}" class="update_suggestion"><b>Редагувати</b></a></p>
    <p><a href="{{url_for('delete_experience', id_post=experienced_restoration.id)}}" class="delete_suggestion"><b>Позбутися</b></a></p>
</li>
{% endfor %}
{% endif %}

{% if experiences_2 %}
{% for experienced_restoration in experiences_2 %}
<li class="portfolio_suggestions_links">
    <p class="object_name_inventory_number_appearance">{{experienced_restoration.experienced_material_2}}</p>
    <p><a href="{{url_for('update_experience_2', id_post=experienced_restoration.id)}}" class="update_suggestion"><b>Редагувати</b></a></p>
    <p><a href="{{url_for('delete_experience_2', id_post=experienced_restoration.id)}}" class="delete_suggestion"><b>Позбутися</b></a></p>
</li>
{% endfor %}
{% endif %}

{% if experiences_3 %}
{% for experienced_restoration in experiences_3 %}
<li class="portfolio_suggestions_links">
    <p class="object_name_inventory_number_appearance">{{experienced_restoration.experienced_material_3}}</p>
    <p><a href="{{url_for('update_experience_3', id_post=experienced_restoration.id)}}" class="update_suggestion"><b>Редагувати</b></a></p>
    <p><a href="{{url_for('delete_experience_3', id_post=experienced_restoration.id)}}" class="delete_suggestion"><b>Позбутися</b></a></p>
</li>
{% endfor %}
{% endif %}
</ul>
</div>
{% endblock %}
