<!DOCTYPE html>
<html lang="ua">
<head>
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
    <link type="text/css" href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>Назва сайту - {{web_page_title}}</title>
</head>
<body>
{% block content -%}
    {%- block main_menu -%}
<ul class="main_menu_appearance">


    {% for main_choice in main_menu -%}
    <li><a href="{{main_choice.url}}">{{main_choice.menu_element}}</a></li>
    {% endfor -%}


</ul>
    {% endblock main_menu -%}

<div class="content">
<h2>Засторога</h2>
<br>Сайт розроблено з метою ознайомлення з веденням реставраційної документації.
<br>Не використовуйте дані про предмети, що мають будь-яку цінність та не залишайте особисту інформацію на сайті,
    оскільки дані може бути втрачено.
<br>Сайт розроблено незалежним розробником. Розробка не збирає кошти на фінансування та не потребує ніякої допомоги.
<br>Сайт використовує форму документа відповідно до ст. 10, пункту (в) та ст. 23 Закону України про авторське право і суміжні права.

<h2>Актуальність</h2>
<br>З кінця XX століття технологічний розвиток у сфері програмного забезпечення зумовив автоматизацію великих
    підприємств різноманітних сфер діяльності.
<br>Зокрема було запроваджено модернізацію музейної діяльності.
<br>На сьогодні, реставратори провідних музеїв світу використовують спеціалізоване програмне забезпечення для
    ведення реставраційної документації.
<br>Впровадження нових технічних засобів для підготовки художників-реставраторів має бути обґрунтоване як з позиції
    ефективності практичного використання реставраторами-професіоналами, так і з позиції ефективності підготовки
    кваліфікованих реставраторів-професіоналів.
<br>Особливу увагу слід звернути на допустимий обсяг автоматизації реставраційної документації, оскільки наслідком
    шаблонізування розробником реставраційних досліджень та заходів може стати в подальшому нездатність студента
    самостійно виконувати навчальні завдання через відсутність впорядкування та відтворення персонального досвіду, і як
    наслідок низька якість підготовки студента.
</div>
<div align="center"><p><h6>Використовувати застосунок виключно з освітньою метою.</h6></div>
{% endblock %}