<!DOCTYPE html>
<html lang="ua">
<head>
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
    <link type="text/css" href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>Рест.Інфо - {{web_page_title}}</title>
</head>
<body>
{% block content -%}
    {%- block main_menu -%}
<ul class="main_menu_appearance">
    {% for main_choice in main_menu -%}
    <li><a href="{{main_choice.url}}">{{main_choice.menu_element}}</a></li>
    {% endfor -%}
</ul>
    {% endblock main_menu -%}
<div align="center">
<h2>Список публікацій</h2>
<hr>
<ul class="list_passports_appearance">
{% for passport in passports %}
<li class="suggestions_links">
    <p class="object_name_inventory_number_appearance">{{passport.object_name}} {{passport.inventory_number}}</p>
    <p><a href="{{ url_for('show_post', id_post=passport.id)}}" class="show_post_suggestion"><b>Переглянути</b></a></p><br>
    <p><a href="{{url_for('update_post', id_post=passport.id)}}" class="update_post_suggestion"><b>Створити подібний</b></a></p><br>
    <p><a href="" class="delete_post_suggestion"><b>Видалити</b></a></p>
</li>
{% endfor %}
</ul>
</div>
{% endblock %}