<!DOCTYPE html>
<html lang="ua">
<head>
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
    <link type="text/css" href="{{url_for('static', filename='css/style_entrance.css')}}" rel="stylesheet"/>
    <meta charset="UTF-8">
    <title>Назва сайту - {{web_page_title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
{% block content -%}
{%- block main_menu -%}
<ul class="main_menu_appearance">


    {% for main_choice in main_menu -%}
    <li><a href="{{main_choice.url}}">{{main_choice.menu_element}}</a></li>
    {% endfor -%}


</ul>
{% endblock main_menu -%}


{% for ctg, msg in get_flashed_messages(True) %}
<div class="flash {{ctg}}">{{msg}}</div>
{% endfor %}


<div align="center" class="entrance_title">
<p>Увійти в особистий кабінет</div>
<hr class="underline">



<div class="register_content">
    <form action="/login" method="post" class="entrance_cabinet">
        <p><h3>Ваша електронна адреса:</h3>
        <p><input type="text" name="restorer_email" class="name_email_register" required></p>
        <p><h3>Пароль від вашого кабінету:</h3>
        <p><input type="password" name="restorer_password" placeholder="****" class="password_register" required></p>
        <p>
            <label class="container">
                <input type="checkbox" name="remember_restorer">
                <span class="checkmark"></span>
            Запам'ятати мене і надалі впускати без авторизації</label>
        </p>
        <br>
        <p><input type="submit" value="Увійти" class="register"></p>
        <hr align="left" width="300px">
        <p class="suggestion_to_create" >Якщо ви ще не створили кабінет:</p>
        <a href="{{url_for('register')}}" class="link_to_main">Створити кабінет</a>
    </form>
</div>
{% endblock %}
