<!DOCTYPE html>
<html lang="ua">
<head>
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
    <link type="text/css" href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet"/>
    <meta charset="UTF-8">
    <title>Назва сайту - {{web_page_title}}</title>
</head>
<body>
{% block content -%}
{%- block main_menu -%}
<ul class="main_menu_appearance">


    {% for main_choice in main_menu -%}
    <li><a href="{{main_choice.url}}">{{main_choice.menu_element}}</a></li>
    {% endfor -%}


</ul>
{% endblock main_menu -%}


{% for ctg, msg in get_flashed_messages(True) %}
<div class="flash {{ctg}}">{{msg}}</div>
{% endfor %}

<div align="center" class="entrance_title">
<p>Створити кабінет</div>
<hr class="underline">

<div class="register_content">
    <form action="/register" method="post" class="entrance_cabinet">
        <p><h3><b>Ім'я та прізвище:</b></h3>
        <p><input type="text" name="restorer_name" class="name_email_register" required></p>
        <p><h3><b>Ваша електронна адреса:</b></h3>
        <p><input type="text" name="restorer_email" class="name_email_register" required></p>
        <p><h3><b>Вигадайте пароль з чотирьох цифр:</b></h3>
        <p><input type="password" name="restorer_password" placeholder="****" class="password_register" required></p>
        <p><h3><b>Введіть вигаданий пароль повторно:</b></h3>
        <p><input type="password" name="repeated_restorer_password" placeholder="****" class="password_register" required>
        <p><input type="submit" class="register" value="Створити кабінет"></p>
        <br>
    </form>
</div>
{% endblock %}