<!DOCTYPE html>
<html lang="ua">
<head>
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
    <link type="text/css" href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet"/>
    <meta charset="UTF-8">
    <title>Рест.Інфо - {{web_page_title}}</title>
</head>
<body>
{% block content -%}
{%- block main_menu -%}
<ul class="main_menu_appearance">


    {% for main_choice in main_menu -%}
    <li><a href="{{main_choice.url}}">{{main_choice.menu_element}}</a></li>
    {% endfor -%}


</ul>
{% endblock main_menu -%}


{% for ctg, msg in get_flashed_messages(True) %}
<div class="flash {{ctg}}">{{msg}}</div>
{% endfor %}


<div class="content">
    <p>
    <h4>Створити кабінет:</h4>
    <form action="/register" method="post" class="restorer-profile">
        <p><label>Ім'я та прізвище: </label> <input type="text" name="restorer_name" required> (Ви можете вказати справжнє ім'я та прізвище або вигадати псевдонім)
        <p><label>Ваша електронна адреса: </label> <input type="text" name="restorer_email" required> (Вказана вами електронна адреса не буде використовуватись застосунком окрім як для створення кабунету)
        <p><label>Вигадайте ваш пароль для кабінету: </label> <input type="password" name="restorer_password" placeholder="****" required> (Чотири цифри)
        <p><label>Введіть вигаданий пароль повторно: </label> <input type="password" name="repeated_restorer_password" placeholder="****" required> (Повторіть пароль)
        <p><input type="submit" value="Створити кабінет"/>
    </form>
</div>
{% endblock %}