<!DOCTYPE html>
<html lang="ua">
<head>

    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
    <link type="text/css" href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet"/>
    <meta charset="UTF-8">
    <title>Назва сайту - {{web_page_title}}</title>
</head>
<body>
{% block content -%}
{%- block main_menu -%}
<ul class="main_menu_appearance">


    {% for main_choice in main_menu -%}
    <li><a href="{{main_choice.url}}">{{main_choice.menu_element}}</a></li>
    {% endfor -%}


</ul>
{% endblock main_menu -%}


{% for ctg, msg in get_flashed_messages(True) %}
<div class="flash {{ctg}}">{{msg}}</div>
{% endfor %}


<form enctype="multipart/form-data" action="{{url_for('update_passport', id_post=passport.id)}}" method="post">
    <div align="center">
        <p>
        <table>
            <tr>
                <th>№ реставраційного паспорта:</th>
                <th>інвентарний № пам'ятки</th>
                <th>Акт приймання</th>
            </tr>
            <tr>
                <td><input name="passport_number" type="text" placeholder="{{passport_number}}" required></td>
                <td><input type="text" name="inventory_number" placeholder="{{inventory_number}}" required></td>
                <td><textarea name="acceptance_number" placeholder="№
від: число/місяць/рік" required>{{acceptance_number}}</textarea></td>
            </tr>
        </table>


        <p></p>
        <h3>Міністерство культури та інформаційної політики України</h3>
        <p></p>
        <h3>ПАСПОРТ РЕСТАВРАЦІЇ ПАМ'ЯТКИ ІСТОРІЇ ТА КУЛЬТУРИ (РУХОМОЇ)</h3>
        <p><b>Назва закладу, який здійснює реставрацію</b></p>
        <p><textarea name="institution_name" rows="1" cols="92" placeholder="Назва установи/музею/учбового закладу"
                     required>{{institution_name}}</textarea></p>
        <p><b>Назва відділу/сектору</b></p>
        <p><textarea name="department_name" rows="2" cols="92" placeholder="Відділ/сектор/майстерня"
                     required>{{department_name}}</textarea></p>

        <p>
            <b>1. Типологічна приналежність пам'ятки</b>
        <table>
            <tr>
                <th>Визначення, характер пам'ятки:</th>
                <th>пам'ятка образотворчого мистецтва</th>
                <th>пам'ятка декоративно-ужиткового мистецтва</th>
                <th>археологічна пам'ятка</th>
                <th>документальна пам'ятка</th>
                <th>інша пам'ятка історії та культури</th>
            </tr>
            <tr>
                <td><textarea name="definition" placeholder="Цільова приналежність" required>{{definition}}</textarea></td>
                <td><input type="radio" name="typological" value="(1)" required>1</td>
                <td><input type="radio" name="typological" value="(2)" required>2</td>
                <td><input type="radio" name="typological" value="(3)" required>3</td>
                <td><input type="radio" name="typological" value="(4)" required>4</td>
                <td><input type="radio" name="typological" value="(5)" required>5</td>
            </tr>
        </table>

        <p><b>2. Місце постійного зберігання, власник пам'ятки</b></p>
        <p><textarea name="object_owner" rows="3" cols="92"
                     placeholder="Назва установи/ім'я та прізвище хранителя/приватна колекція" required>{{object_owner}}</textarea>
        </p>

        <p>
        <table>
            <tr>
                <th>3. Атрибутивні дані про пам'ятку згідно з актом приймання</th>
                <th>Уточнення в процесі реставрації</th>
            </tr>
            <tr>
                <td>Автор: <textarea name="author" rows="2" cols="30" required>{{author}}</textarea></td>
                <td><textarea name="clarified_author" rows="2" cols="30" >{{clarified_author}}</textarea></td>
            </tr>
            <tr>
                <td>Назва:<textarea name="object_name" rows="2" cols="30" required>{{object_name}}</textarea></td>
                <td><textarea name="clarified_object_name" rows="2" cols="30" >{{clarified_object_name}}</textarea></td>
            </tr>
            <tr>
                <td>Час створення:<textarea name="time_of_creation" rows="2" cols="30" required>{{time_of_creation}}</textarea></td>
                <td><textarea name="clarified_time_of_creation" rows="2" cols="30" >{{clarified_time_of_creation}}</textarea></td>
            </tr>
            <tr>
                <td>Матеріал, основа:
                    <textarea name="material" rows="2" cols="30" required>{{material}}</textarea></td>
                <td><textarea name="clarified_material" rows="2" cols="30" >{{clarified_material}}</textarea></td>
            </tr>
            <tr>
                <td>Техніка виконання:<textarea name="technique" rows="2" cols="30" required>{{technique}}</textarea>
                </td>
                <td><textarea name="clarified_technique" rows="2" cols="30" >{{clarified_technique}}</textarea></td>
            </tr>
            <tr>
                <td>Розміри:<textarea name="object_size" rows="2" cols="30" required>{{object_size}}</textarea></td>
                <td><textarea name="clarified_size" rows="2" cols="30" >{{clarified_size}}</textarea></td>
            </tr>
            <tr>
                <td>Вага:<textarea name="weight" rows="2" cols="30" required>{{weight}}</textarea></td>
                <td><textarea name="clarified_weight" rows="2" cols="30" >{{clarified_weight}}</textarea></td>
            </tr>
        </table>

        <p><b>4. Підстава для проведення реставраційних заходів</b></p>
        <p><textarea name="reason" contenteditable="true" rows="5" cols="140"
                     placeholder="Вкажіть підставу проведення реставрації" required>{{reason}}</textarea>
        </p>


        <p>
        <table>
            <tr>
                <th>Дати</th>
                <th>Реставратори</th>
            </tr>
            <tr>
                <td>Дата передання пам'ятки на реставрацію:<input name="object_input_date" type="text"
                                                                  placeholder="{{object_input_date}}" required></td>
                <td><input name="execute_restorer" placeholder="Студент (курс)" type="text" required></td>
            </tr>
            <tr>
                <td>Дата завершення реставраційних заходів:<input type="text" name="object_output_date"
                                                                  placeholder="{{object_output_date}}" required></td>
                <td><input type="text" name="responsible_restorer" placeholder="{{responsible_restorer}}" required></td>
            </tr>
        </table>


        <p><b>5. Основні дані з історії пам'ятки (довідка про побутування; відомості про умови зберігання,</b></p>
        <p><b>попередні дослідження, консерваційно-реставраційні заходи тощо), джерело надходження інформації</b></p>
        <p><textarea name="origin_description" contenteditable="true" rows="6" cols="140"
                     placeholder="Вкажіть дані з історії пам'ятки" required>{{origin_description}}</textarea>
        </p>

        <p><b>6. Стан пам'ятки до реставрації</b></p>
        <p><i>6.1 За візуальним спостереженням:</i></p>
        <p><textarea name="appearance_description" id="changed_appearance_description" contenteditable="true" rows="30"
                     cols="140" placeholder="Вкажіть опис пам'ятки" required>{{appearance_description}}</textarea></p>
        <p><i>6.1.2 Втрати та пошкодження:</i></p>
        <p><textarea name="damages_description" id="changed_damages_description" contenteditable="true" rows="30"
                     cols="140" placeholder="Вкажіть втрати та пошкодження" required>{{damages_description}}</textarea></p>
        <p><i>6.1.3 Старі номери та позначення:</i></p>
        <p><textarea name="signs_description" contenteditable="true" rows="6" cols="140"
                     placeholder="Вкажіть номери та позначення" required>{{signs_description}}</textarea>
        </p>
        <p><i>6.1.4 Розміри:</i></p>
        <p><textarea name="size_description" contenteditable="true" rows="10" cols="92" placeholder="Вкажіть розміри"
                     required>{{size_description}}</textarea></p>

        <p><b>6.2. За даними лабораторних досліджень:</b></p>

        <p>
        <table>
            <tr>
                <th>Мета дослідження</th>
                <th>Методи і результати дослідження</th>
                <th>Виконавець та дата</th>
            </tr>
            <tr>
                <td><textarea name="purposes_researches" id="dynamic_purposes_researches_by_material"
                              contenteditable="true" rows="30" cols="22" required>{{purposes_researches}}</textarea></td>
                <td><textarea name="methods_researches" id="dynamic_methods_researches_by_material"
                              contenteditable="true" rows="30" cols="35" required>{{methods_researches}}</textarea></td>
                <td><textarea name="executor_date_researches" rows="30" cols="20" placeholder="Ім'я та прізвище виконавця;
число/місяць/рік." required>{{executor_date_researches}}</textarea></td>
            </tr>
        </table>
        </p>

        <p><b>6.3 Загальний висновок за результатами досліджень:</b></p>
        <p><textarea name="results_researches" contenteditable="true" rows="5" cols="140"
                     placeholder="Вкажіть підставу проведення реставрації" required>{{results_researches}}</textarea>
        </p>


        <TABLE>

            <tr>
                <th>7. Програма проведення реставраційних заходів та їх обгрунтування</th>
            </tr>
            <tr>
                <td><textarea name="restoration_program" id="dynamic_restoration_program_by_material"
                              contenteditable="true" rows="20" cols="91" required>{{restoration_program}}</textarea></td>

        </TABLE>


        <p>
            <b>8. Проведення реставраційних заходів:</b>
        <table>
            <tr>
                <th>Опис операцій із зазначенням методу, методики, технології, інструментарію</th>
                <th>Матеріали, хімікати (консентрація %)</th>
                <th>Виконавець та дата</th>
            </tr>
            <tr>
                <td><textarea name="treatments_descriptions" id="dynamic_treatments_descriptions_by_material"
                              contenteditable="true" rows="29" cols="60" required>{{treatments_descriptions}}</textarea></td>
                <td><textarea name="treatments_chemicals" id="dynamic_treatments_chemicals_by_material"
                              contenteditable="true" rows="29" cols="35" required>{{treatments_chemicals}}
</textarea></td>
                <td><textarea name="treatments_executor_date" rows="29" cols="20" placeholder="Ім'я та прізвище виконавця;
число/місяць/рік." required>{{treatments_executor_date}}
</textarea></td>
            </tr>
        </table>
        </p>


        <p><b>9. Стислий опис реставраційних заходів; опис змін технічного та зовнішнього стану пам'ятки після
            реставрації, уточнення атрибуції тощо:</b></p>
        <p><textarea name="treatments_results" contenteditable="true" rows="5" cols="140"
                     placeholder="Вкажіть результат проведення реставраційних заходів" required>{{treatments_results}}</textarea>
        </p>


        <p>
            <button class="upload_passport"><b>Додати</b></button>
        </p>
    </div>
</form>
<div align="center"><p><h6>Використовувати застосунок виключно з освітньою метою.</h6></div>
{% endblock %}