<!DOCTYPE html>
<html lang="ua">
<head>
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
    <link type="text/css" href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>Назва сайту - {{web_page_title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
{% block content -%}
    {%- block main_menu -%}
<ul class="main_menu_appearance">


    {% for main_choice in main_menu -%}
    <li><a href="{{main_choice.url}}">{{main_choice.menu_element}}</a></li>
    {% endfor -%}


</ul>
    {% endblock main_menu -%}


{% for ctg, msg in get_flashed_messages(True) %}
<div class="flash {{ctg}}">{{msg}}</div>
{% endfor %}

<div align="center" class="entrance_title">
<p>Додати досвід</div>
<hr class="underline">

<div align="center">
    <form enctype="multipart/form-data" action="{{url_for('add_experience')}}" method="post">


        <p class="passport_title"><b>Матеріал:</b>
        <p><input class="experienced_material" name="experienced_material" required>

        <table class="passport_restoration_program">
            <tr><th>Послідовність опису матеріалу:</th></tr>
            <tr><td><textarea name="experienced_description">{{experienced_description}}</textarea></td></tr>
        </table>

        <table class="passport_restoration_program">
            <tr><th>Характерні втрати та пошкодження:</th></tr>
            <tr><td><textarea name="experienced_damages_description">{{experienced_damages_description}}</textarea></td></tr>
        </table>

        <br><table class="researches">
            <tr><th>Назви дослідженнь:</th><th>Опис проведення лабораторних дослідженнь:</th></tr>
            <tr><td><textarea name="experienced_research_title">{{experienced_research_title}}</textarea></td>
                <td><textarea name="experienced_research_description">{{experienced_research_description}}</textarea></td></tr>
        </table>

        <br><table class="passport_restoration_program">
            <tr><th>Реставраційна програма:</th></tr>
            <tr><td><textarea name="experienced_restoration_program">{{experienced_restoration_program}}</textarea></td></tr>
        </table>

        <br><table class="treatments">
            <tr><th>Опис проведення реставраційних заходів:</th><th>Матеріали та хімікати:</th></tr>
            <tr><td><textarea name="experienced_treatments_descriptions">{{experienced_treatments_descriptions}}</textarea></td>
                <td><textarea name="experienced_treatments_chemicals">{{experienced_treatments_chemicals}}</textarea></td></tr>
        </table>

        <p><button class="upload_passport">Додати</button></p>
    </form>
</div>
{% endblock %}
